[enu]
codepage=1252
R_ParamGroup=Parameters
R_SignalGroup=Notification
R_PriceType=Price type
R_Bid=Bid
R_Ask=Ask
R_PeriodType=Period size
R_ShowAlert=Show alert
R_PlaySound=Play sound
R_RecurrentSound=Recurrent
R_SoundFile=Sound file
R_SoundFileError=Sound file must be specified
R_SrcErr=Source must not be tick
R_BUY=BUY
R_SELL=SELL 
R_SENDEMAIL=Send e-mail
R_EMAILADDRESS=E-mail address
R_EMAILADDRESSDESCR=Note that to recieve e-mails, SMTP settings must be defined (see Signals Options).
R_EmailAddressError=E-mail address must be specified
R_MailIntroduction=You have received this message because the following signal alert was received:
R_MailSignalHeader=Signal:
R_MailSymbolHeader=Symbol:
R_MailMessageHeader=Message:
R_MailTimeHeader=Time:
R_MailPriceHeader=Price:
R_Smooth=Smoothing method
R_AllowTrade=Allow trading
R_Account2Trade=Account
R_TradeAmountLots=Amount in lots
R_Trading_ParamGroup=Trading Parameters
R_Email_ParamGroup=Email Parameters

[rus]
codepage=1251
R_ParamGroup=Параметры
R_SignalGroup=Уведомление
R_PriceType=Тип цен
R_Bid=Bid
R_Ask=Ask
R_PeriodType=Размер периода
R_ShowAlert=Показывать сообщение
R_PlaySound=Проигрывать звук
R_RecurrentSound=Повторяющийся
R_SoundFile=Звуковой файл
R_SoundFileError=Необходимо задать звуковой файл.
R_SrcErr=Источник не должен быть тиковым.
R_BUY=ПОКУПКА
R_SELL=ПРОДАЖА
R_SENDEMAIL=Отправить письмо
R_EMAILADDRESS=E-mail адрес
R_EMAILADDRESSDESCR=Чтобы получать письма, необходимо указать настройки SMTP сервера (см. Настройки -> Стратегии).
R_EmailAddressError=Необходимо указать e-mail адрес.
R_MailIntroduction=Вы получили это сообщение, потому что сработал следующий сигнал:
R_MailSignalHeader=Сигнал:
R_MailSymbolHeader=Символ:
R_MailMessageHeader=Сообщение:
R_MailTimeHeader=Время:
R_MailPriceHeader=Цена:
R_Smooth=Метод сглаживания
R_AllowTrade=Разрешить торговлю
R_Account2Trade=Счет
R_TradeAmountLots=Объем в лотах
R_Trading_ParamGroup=Торговые параметры
R_Email_ParamGroup=Параметры e-mail

[ara]
codepage=1256
R_ParamGroup=الثوابت
R_SignalGroup=الإشعار
R_PriceType=نوع السعر
R_Bid=بيع
R_Ask=شراء
R_PeriodType=الفترة الزمنية
R_ShowAlert=إظهار التنبيه
R_PlaySound=تشغيل الصوت
R_RecurrentSound=التكرر
R_SoundFile=ملف الصوت
R_SoundFileError=ملف الصوت يجب أن يكون محدداً
R_SrcErr=يجب أن لا يكون المصدر من نوع "تيك"
R_BUY=شراء
R_SELL=بيع
R_SENDEMAIL=ارسل البريد الإلكتروني
R_EMAILADDRESS=عنوان البريد الإلكتروني
R_EMAILADDRESSDESCR=لاحظ بإنه يجب تعريف خيارات "SMTP" وذلك لتلقي الرسائل بواسطة البريد الإلكتروني (راجع خيارات الإشارات).
R_EmailAddressError=يجب تحديد عنوان البريد الإلكتروني
R_MailIntroduction=لقد تلقيت هذه الرسالة لأنه تم استقبال الإشارة التالية:
R_MailSignalHeader=الإشارة :
R_MailSymbolHeader=الزوج:
R_MailMessageHeader=الرسالة:
R_MailTimeHeader=الوقت:
R_MailPriceHeader=السعر:
R_Smooth=طريقة التجانس
R_AllowTrade=السماح بالتداول
R_Account2Trade=الحساب
R_TradeAmountLots=المبلغ بالعقود
R_Trading_ParamGroup=تداول الثوابت
R_Email_ParamGroup=البريد الإلكتروني للثوابت

[chs]
codepage=936
R_ParamGroup=参数
R_SignalGroup=提示
R_PriceType=价格类别
R_Bid=卖出
R_Ask=买进
R_PeriodType=周期大小
R_ShowAlert=显示提示
R_PlaySound=播放声音
R_RecurrentSound=周期性
R_SoundFile=声音档
R_SoundFileError=必须指定声音档
R_SrcErr=资料来源不得为点跳动
R_BUY=买进
R_SELL=卖出
R_SENDEMAIL=发送电子邮件
R_EMAILADDRESS=电邮地
R_EMAILADDRESSDESCR=请注意接收电子邮件，SMTP设置必须定义（见信号选项）
R_EmailAddressError=必需指定电邮地址
R_MailIntroduction=你收到此信息因为收到以下信号提示：
R_MailSignalHeader=信号:
R_MailSymbolHeader=商品:
R_MailMessageHeader=信息:
R_MailTimeHeader=时间:
R_MailPriceHeader=价格:
R_Smooth=平滑方法
R_AllowTrade=容许交易
R_Account2Trade=账户
R_TradeAmountLots=手数
R_Trading_ParamGroup=交易参数
R_Email_ParamGroup=电邮参数

[cht]
codepage=950
R_ParamGroup=參數
R_SignalGroup=提示
R_PriceType=價格類別
R_Bid=賣出
R_Ask=買進
R_PeriodType=週期大小
R_ShowAlert=顯示提示
R_PlaySound=播放聲音
R_RecurrentSound=週期性
R_SoundFile=聲音檔
R_SoundFileError=必須指定聲音檔
R_SrcErr=資料來源不得為點跳動
R_BUY=買進
R_SELL=賣出
R_SENDEMAIL=發送電子郵件
R_EMAILADDRESS=電郵地
R_EMAILADDRESSDESCR=請注意接收電子郵件，SMTP設置必須定義（見信號選項）
R_EmailAddressError=必需指定電郵地址
R_MailIntroduction=你收到此信息因為收到以下信號提示：
R_MailSignalHeader=信號:
R_MailSymbolHeader=商品:
R_MailMessageHeader=信息:
R_MailTimeHeader=時間:
R_MailPriceHeader=價格:
R_Smooth=平滑方法
R_AllowTrade=容許交易
R_Account2Trade=賬戶
R_TradeAmountLots=手數
R_Trading_ParamGroup=交易參數
R_Email_ParamGroup=電郵參數

[cze]
codepage=1250
R_ParamGroup=Parametry
R_SignalGroup=Upozornění
R_PriceType=Typ ceny
R_Bid=Poptávka
R_Ask=Nabídka
R_PeriodType=Velikost periody
R_ShowAlert=Zobrazit alert
R_PlaySound=Spustit zvuk
R_RecurrentSound=Opakovat
R_SoundFile=Zvukový soubor
R_SoundFileError=Není zvolen zvukový soubor.
R_SrcErr=Zdroj nesmí být tick perioda.
R_BUY=Dlouhé pozice
R_SELL=Krátké pozice
R_SENDEMAIL=Odeslat e-mail
R_EMAILADDRESS=E-mailová adresa
R_EMAILADDRESSDESCR=K přijímání emailů musí být nastaveno SMTP (viz Možnosti Signálů).
R_EmailAddressError=E-mailová adresa musí být určena.
R_MailIntroduction=Obdržel jste tuto zprávu, protože následný signálový alert byl přijat:
R_MailSignalHeader=Signál:
R_MailSymbolHeader=Symbol:
R_MailMessageHeader=Zpráva:
R_MailTimeHeader=Čas:
R_MailPriceHeader=Cena.
R_Smooth=Metoda vyhlazení
R_AllowTrade=Povolit obchodování
R_Account2Trade=Účet
R_TradeAmountLots=Objem v lotech
R_Trading_ParamGroup=Obchodní parametry
R_Email_ParamGroup=Parametry emailu

[deu]
codepage=1252
R_ParamGroup=Parameter
R_SignalGroup=Notifikation
R_PriceType=Preisart
R_Bid=Kauf
R_Ask=Verkauf
R_PeriodType=Grosse der Periode
R_ShowAlert=Warnung anzeigen
R_PlaySound=Ton abspielen
R_RecurrentSound=Rekurrent
R_SoundFile=Tondatei
R_SoundFileError=Tondatei muss angegben werden
R_SrcErr=Eingabe soll länger als einen einzelne Tick sein.
R_BUY=KAUFEN
R_SELL=VERKAUFEN
R_SENDEMAIL=E-Mail senden
R_EMAILADDRESS=E-Mail Adresse
R_EMAILADDRESSDESCR=Bitte beachten Sie, dass die SMTP Einstellungen bestimmt werden müssen damit Sie E-Mails empfangen können.
R_EmailAddressError=E-Mail Adresse muss angegeben werden.
R_MailIntroduction=Sie haben diese Nachricht erhalten da die folgenden Signalalarme empfangen wurden:
R_MailSignalHeader=Signal:
R_MailSymbolHeader=Symbol:
R_MailMessageHeader=Nachricht:
R_MailTimeHeader=Zeit:
R_MailPriceHeader=Preis:
R_Smooth=Glättende Methode
R_AllowTrade=Trading erlauben
R_Account2Trade=Konto
R_TradeAmountLots=Menge in Lots
R_Trading_ParamGroup=Trading Parameter
R_Email_ParamGroup=E-Mail Parameter

[fra]
codepage=1252
R_ParamGroup=Paramètres
R_SignalGroup=Notification
R_PriceType=Type de prix
R_Bid=Offre
R_Ask=Demande
R_PeriodType=Taille de la période
R_ShowAlert=Montrer alerte
R_PlaySound=Jouer un son
R_RecurrentSound=Récurrent
R_SoundFile=Fichier Son
R_SoundFileError=Le fichier Son doit être spécifié
R_SrcErr=La source ne doit pas être un tick
R_BUY=ACHAT
R_SELL=VENTE
R_SENDEMAIL=Envoyer un email
R_EMAILADDRESS=Adresse email
R_EMAILADDRESSDESCR=Notez que pour recevoir des emails, les réglages SMTP doivent être définis (voir options signaux)
R_EmailAddressError=L'adresse email doit être spécifiée
R_MailIntroduction=Vous avez reçu ce message car l'alerte de signal suivant a été reçue
R_MailSignalHeader=Signal:
R_MailSymbolHeader=Paire
R_MailMessageHeader=Message
R_MailTimeHeader=Heure:
R_MailPriceHeader=Prix:
R_Smooth=Méthode de lissage
R_AllowTrade=Permettre trading
R_Account2Trade=Compte
R_TradeAmountLots=Montant en lots
R_Trading_ParamGroup=Paramètres Trading
R_Email_ParamGroup=Paramètres d'email

[gre]
codepage=1253
R_ParamGroup=Παράμετροι
R_SignalGroup=Ειδοποίηση
R_PriceType=Τύπος τιμής
R_Bid=Προσφορά
R_Ask=Ζήτηση
R_PeriodType=Μέγεθος περιόδου
R_ShowAlert=Εμφάνιση ειδοποίησης
R_PlaySound=Αναπαραγωγή ήχου
R_RecurrentSound=Επαναλαμβανόμενο
R_SoundFile=Φάκελος ήχου
R_SoundFileError=Ο φάκελος ήχου πρέπει να προσδιοριστεί
R_SrcErr=Η πηγή δεν πρέπει να είναι tick
R_BUY=ΑΓΟΡΑ
R_SELL=ΠΩΛΗΣΗ
R_SENDEMAIL=Αποστολή e-mail
R_EMAILADDRESS=Διεύθυνση e-mail
R_EMAILADDRESSDESCR=Σημειώστε ότι για να μπορείτε να λαμβάνετε e-mails, οι ρυθμίσεις SMTP πρέπει να είναι καθορισμένες (βλ. Επιλογές Σημάτων).
R_EmailAddressError=Η διεύθυνση e-mail πρέπει να έχει οριστεί
R_MailIntroduction=Έχετε λάβει αυτό το μήνυμα γιατί η ακόλουθη ειδοποίηση έχει ενεργοποιηθεί:
R_MailSignalHeader=Σήμα:
R_MailSymbolHeader=Σύμβολο:
R_MailMessageHeader=Μήνυμα:
R_MailTimeHeader=Ώρα:
R_MailPriceHeader=Τιμή:
R_Smooth=Μέθοδος εξομάλυνσης
R_AllowTrade=Επιτρέψτε τις συναλλαγές
R_Account2Trade=Λογαριασμός
R_TradeAmountLots=Ποσό σε lots
R_Trading_ParamGroup=Παράμετροι Συναλλαγής
R_Email_ParamGroup=Παράμετροι Email

[heb]
codepage=1255
R_ParamGroup=פרמטרים
R_SignalGroup=הודעות
R_PriceType=סוג מחיר
R_Bid=מכירה
R_Ask=קנייה
R_PeriodType=גודל תקופה
R_ShowAlert=הצג התראה
R_PlaySound=הפעל צליל
R_RecurrentSound=חוזר ונשנה
R_SoundFile=קובץ צליל
R_SoundFileError=יש לציין את צליל הקובץ
R_SrcErr=אסור שהמקור יהיה טיקים
R_BUY=קנייה
R_SELL=מכירה
R_SENDEMAIL=שלח דוא"ל
R_EMAILADDRESS=כתובת דוא"ל
R_EMAILADDRESSDESCR=לידיעתך, כדי לקבל מיילים יש להגדיר את ה-SMTP (ראה אפשרויות איתותים)
R_EmailAddressError=יש לציין את כתובת הדוא"ל
R_MailIntroduction=הודעה זו נשלחה אליך בגלל מאחר שהתקבלה התרעה:
R_MailSignalHeader=איתות:
R_MailSymbolHeader=סמל:
R_MailMessageHeader=הודעה:
R_MailTimeHeader=זמן:
R_MailPriceHeader=מחיר:
R_Smooth=שיטת החלקה
R_AllowTrade=אפשר מסחר
R_Account2Trade=חשבון
R_TradeAmountLots=כמות ביחידות מסחר (לוט)
R_Trading_ParamGroup=משתני מסחר
R_Email_ParamGroup=משתני דוא"ל

[ita]
codepage=1252
R_ParamGroup=Parametri
R_SignalGroup=Notifica
R_PriceType=Tipo Prezzo
R_Bid=Bid
R_Ask=Ask
R_PeriodType=Dimensione periodo
R_ShowAlert=Mostra alert
R_PlaySound=Esegui suono
R_RecurrentSound=Ricorrente
R_SoundFile=File suono
R_SoundFileError=Il file suono deve essere specificato
R_SrcErr=La fonte non deve essere tick
R_BUY=BUY
R_SELL=SELL
R_SENDEMAIL=Invia e-mail
R_EMAILADDRESS=Indirizzo e-mail
R_EMAILADDRESSDESCR=Considera che per ricevere e-mail, deve essere impostato SMTP (guarda Opzioni Segnali)
R_EmailAddressError=Un indirizzo e-mail deve essere specificato
R_MailIntroduction=Hai ricevuto questo messaggio poiché è stato ricevuto il seguente segnale:
R_MailSignalHeader=Segnale:
R_MailSymbolHeader=Prodotto:
R_MailMessageHeader=Message:
R_MailTimeHeader=Orario:
R_MailPriceHeader=Prezzo:
R_Smooth=Metodo Smoothing
R_AllowTrade=Permetti il trading
R_Account2Trade=Conto
R_TradeAmountLots=Importo in lotti
R_Trading_ParamGroup=Parametri di trading
R_Email_ParamGroup=Parametri dell'email

[jpn]
codepage=932
R_ParamGroup=パラメーター
R_SignalGroup=通知
R_PriceType=価格の種類
R_Bid=売値
R_Ask=買値
R_PeriodType=期間のサイズ
R_ShowAlert=アラートを表示
R_PlaySound=サウンド　入
R_RecurrentSound=リピート
R_SoundFile=サウンドファイル
R_SoundFileError=サウンドファイルを指定する必要があります
R_SrcErr=ティックはソースに指定できません
R_BUY=買い
R_SELL=売り
R_SENDEMAIL=メール配信
R_EMAILADDRESS=メールアドレス
R_EMAILADDRESSDESCR=Eメールを受け取るためにはSMTP設定を行ってください（Signal Options 参照）
R_EmailAddressError=E-mail address must be specified
R_MailIntroduction=以下のシグナルアラートが来ています。
R_MailSignalHeader=シグナル：
R_MailSymbolHeader=通貨ペア：
R_MailMessageHeader=メッセージ：
R_MailTimeHeader=時間：
R_MailPriceHeader=価格：
R_Smooth=平滑化の方法
R_AllowTrade=取引許可
R_Account2Trade=口座
R_TradeAmountLots=取引ロット
R_Trading_ParamGroup=トレーディングパラメーター
R_Email_ParamGroup=Email パラメーター

[tur]
codepage=1254
R_ParamGroup=Parametreler
R_SignalGroup=Bildirim
R_PriceType=Fiyat türü
R_Bid=Satış
R_Ask=Alış
R_PeriodType=Periyot uzunluğu
R_ShowAlert=Uyarıları göster
R_PlaySound=Sesi çal
R_RecurrentSound=Tekrarla
R_SoundFile=Ses dosyası
R_SoundFileError=Ses dosyası belirtilmeli
R_SrcErr=Kaynak tik olamaz.
R_BUY=ALIŞ
R_SELL=SATIŞ
R_SENDEMAIL=E-posta gönder
R_EMAILADDRESS=E-posta adresi
R_EMAILADDRESSDESCR=E-postaları alabilmek için SMTP ayarlarının (Sinyal Seçenekleri’ne bakınız) yapılmış olması gerektiğini unutmayınız.
R_EmailAddressError=E-posta adresi belirtilmeli
R_MailIntroduction=Aşağıdaki sinyal uyarısı alındığı için bu mesajı aldınız:
R_MailSignalHeader=Sinyal:
R_MailSymbolHeader=Sembol:
R_MailMessageHeader=Mesaj:
R_MailTimeHeader=Zaman:
R_MailPriceHeader=Fiyat:
R_Smooth=Düzeltme yöntemi
R_AllowTrade=Alım satıma izin ver
R_Account2Trade=Hesap
R_TradeAmountLots=Lot cinsinden miktar
R_Trading_ParamGroup=Trading Parametreleri
R_Email_ParamGroup=E-posta Parametreleri

[pol]
codepage=1250
R_ParamGroup=Parametry
R_SignalGroup=Powiadomienie
R_PriceType=Rodzaj kursu
R_Bid=Bid
R_Ask=Ask
R_PeriodType=Interwał
R_ShowAlert=Pokaż alert
R_PlaySound=Odtwórz dźwięk
R_RecurrentSound=Powtarzający się
R_SoundFile=Plik dźwiękowy
R_SoundFileError=Plik dźwiękowy musi być zdefiniowany
R_SrcErr=Źródło nie może być tickiem
R_BUY=KUPUJ
R_SELL=SPRZEDAJ
R_SENDEMAIL=Wyślij e-mail
R_EMAILADDRESS=Adres e-mail
R_EMAILADDRESSDESCR=Aby otrzymywać wiadomości e-mail, ustawienia SMTP muszą być zdefiniowane (zobacz Opcje Sygnałów)
R_EmailAddressError=Adres e-mail musi być zdefiniowany
R_MailIntroduction=Otrzymałeś tą wiadomość ponieważ wystąpił następujący alert sygnału:
R_MailSignalHeader=Sygnał:
R_MailSymbolHeader=Walor:
R_MailMessageHeader=Wiadomość:
R_MailTimeHeader=Czas:
R_MailPriceHeader=Kurs:
R_Smooth=Metoda wygładzania
R_AllowTrade=Zezwól na transakcje
R_Account2Trade=Konto
R_TradeAmountLots=Ilość w lots
R_Trading_ParamGroup=Parametry handlu
R_Email_ParamGroup=Parametry e-maila

[por]
codepage=1252
R_ParamGroup=Parâmetros
R_SignalGroup=Aviso
R_PriceType=Tipo de preço
R_Bid=Venda
R_Ask=Compra
R_PeriodType=Tamanho do período
R_ShowAlert=Mostrar alerta
R_PlaySound=Tocar som
R_RecurrentSound=Recorrente
R_SoundFile=Arquivo de som
R_SoundFileError=Arquivo de som precisa ser especificado
R_SrcErr=A fonte não deve ser um tick
R_BUY=COMPRAR
R_SELL=VENDER
R_SENDEMAIL=Enviar e-mail
R_EMAILADDRESS=Endereço de e-mail
R_EMAILADDRESSDESCR=Nota que para receber e-mails, as configurações SMTP devem ser definidas (ver Opções de Sinais).
R_EmailAddressError=Endereço de e-mail deve ser especificado
R_MailIntroduction=Você recebeu essa mensagem por que a seguinte alerta de sinal foi recebida:
R_MailSignalHeader=Sinal:
R_MailSymbolHeader=Símbolo:
R_MailMessageHeader=Mensagem:
R_MailTimeHeader=Hora:
R_MailPriceHeader=Preço:
R_Smooth=Método de nivelação
R_AllowTrade=Permitir operações
R_Account2Trade=Conta
R_TradeAmountLots=Montante em lotes
R_Trading_ParamGroup=Parâmetros de Operações
R_Email_ParamGroup=Parâmetros de E-mail

[esp]
codepage=1252
R_ParamGroup=Parámetros
R_SignalGroup=Notificación.
R_PriceType=Tipo de precio
R_Bid=Comprar
R_Ask=Vender
R_PeriodType=Tamaño del periodo
R_ShowAlert=Mostrar alerta
R_PlaySound=Activar sonido
R_RecurrentSound=Recurrente
R_SoundFile=Carpeta de sonido
R_SoundFileError=La carpeta del sonido debe ser especificado
R_SrcErr=La fuente no puede ser un tick
R_BUY=COMPRAR
R_SELL=VENDER
R_SENDEMAIL=Enviar correo electrónico
R_EMAILADDRESS=Dirección de correo electrónico
R_EMAILADDRESSDESCR=Tenga en cuenta que para recibir correos electrónicos, la configuración de SMTP debe de estar seleccionada (ver opciones de señales)
R_EmailAddressError=El correo electrónico debe de ser especificado
R_MailIntroduction=Usted ha recibido este mensaje porque la siguiente señal de alerta fue recibida:
R_MailSignalHeader=Señal:
R_MailSymbolHeader=Símbolo:
R_MailMessageHeader=Mensaje:
R_MailTimeHeader=Hora:
R_MailPriceHeader=Precio:
R_Smooth=Método suavizado
R_AllowTrade=Operacion permitida
R_Account2Trade=Cuenta
R_TradeAmountLots=Cantidad en lotes
R_Trading_ParamGroup=Parámetros de mercado
R_Email_ParamGroup=Parámetros del correo electrónico

[hun]
codepage=0
R_ParamGroup=Paraméterek
R_SignalGroup=Figyelmeztetés
R_PriceType=Ár típus
R_Bid=Bid/Vételi
R_Ask=Ask/Eladási
R_PeriodType=Periódus méret
R_ShowAlert=Mutasd a riasztást 
R_PlaySound=Hangjelzés lejátszása
R_RecurrentSound=Visszatérő
R_SoundFile=Hang fájl
R_SoundFileError=Pontosítsa a hang fájlt 
R_SrcErr=A forrást nem kell bejelölni 
R_BUY=VÉTEL
R_SELL=ELADÁS
R_SENDEMAIL=E-mail küldése
R_EMAILADDRESS=E-mail cím
R_EMAILADDRESSDESCR=Figyelmeztetés: ahhoz, hogy megkaphassa a leveleket, megfelelő SMTP( levélküldő kiszolgáló) beállítás szükséges
R_EmailAddressError=Pontosan adja meg az  e-mail címet
R_MailIntroduction=Rendszerüzenete érkezett, mert a következő szignál figyelmeztetést kapta:
R_MailSignalHeader=Szignál:
R_MailSymbolHeader=Szimbólum:
R_MailMessageHeader=Üzenet:
R_MailTimeHeader=Idő:
R_MailPriceHeader=Ár:
R_Smooth=Kisimított mozgóátlag metódus
R_AllowTrade=Kereskedés engedélyezése
R_Account2Trade=Számla
R_TradeAmountLots=Lotokban értendő összeg
R_Trading_ParamGroup=Kereskedési paraméterek
R_Email_ParamGroup=E-mail paraméterek

