include=common.lua.rc
default=enu
[enu]
codepage=1252
R_Name=Fractal-Alligator System
R_Description=Bill Williams's Fractal-Alligator System.
R_Price_ParamGroup=Price Parameters
R_Alligator_ParamGroup=Alligator Parameters
R_TF=TF
R_TimeFrame=The timeframe ('t1', 'm1', 'm5', etc.).
R_JawN=Alligator Jaw smoothing periods
R_JawS=Alligator Jaw shifting periods
R_TeethN=Alligator Teeth smoothing periods
R_TeethS=Alligator Teeth shifting periods
R_LipsN=Alligator Lips smoothing periods
R_LipsS=Alligator Lips shifting periods
R_MTH_description=The methods marked with (*) must be downloaded and installed.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Set limit order
R_LimitOrderPips=Limit in pips
R_SetStopOrders=Set stop order
R_StopOrderPips=Stop in pips
R_TrailingStopOrder=Trailing stop
R_FailedCreateLimitOrStop=Failed to create a limit or stop
R_SetBuyLevelAt=Set Buy @%s
R_SetSellLevelAt=Set Sell @%s

[rus]
codepage=1251
R_Name=Фрактал-Аллигатор система
R_Description=Система Фрактал-Аллигатор Билла Уильямса.
R_Price_ParamGroup=Параметры цены
R_Alligator_ParamGroup=Параметры Аллигатора
R_TF=Период
R_TimeFrame=Период.
R_JawN=Периоды для сглаживания Челюсти Аллигатора
R_JawS=Периоды для сдвига Челюсти Аллигатора
R_TeethN=Периоды для сглаживания Зубов Аллигатора
R_TeethS=Периоды для сдвига Зубов Аллигатора
R_LipsN=Периоды для сглаживания Губ Аллигатора
R_LipsS=Периоды для сдвига Губ Аллигатора
R_MTH_description=Методы сглаживания, помеченные звездочкой (*), необходимо загрузить и установить.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Установить лимит ордер
R_LimitOrderPips=Лимит в пунктах
R_SetStopOrders=Установить стоп ордер
R_StopOrderPips=Стоп в пунктах
R_TrailingStopOrder=Скользящий стоп
R_FailedCreateLimitOrStop=Не удалось создать стоп или лимит.
R_SetBuyLevelAt=Покупка по %s
R_SetSellLevelAt=Продажа по %s

[ara]
codepage=1256
R_Name=نظام Fractal-Alligator
R_Description=نظام بيل وليامس لـ Fractal-Alligator
R_Price_ParamGroup=سعر الثوابت
R_Alligator_ParamGroup=ثوابت الـ Alligator
R_TF=الإطار الزمني
R_TimeFrame=الإطار الزمني ('T1' ، 'M1' ، 'M5' ، الخ).
R_JawN=فترات التجانس لـ Alligator Jaw
R_JawS=فترات التحول لـ Alligator Jaw
R_TeethN=فترات التجانس لـ Alligator Teeth
R_TeethS=فترات التحول لـ Alligator Teeth
R_LipsN=فترات التجانس لـ Alligator Lips
R_LipsS=فترات التحول لـ Alligator Lips
R_MTH_description=يجب تحميل وتثبي الأسلوب المعلم بـ (*).
R_string_alt_MTH_MVA=الـ MVA
R_string_alt_MTH_EMA=الـ EMA
R_string_alt_MTH_LWMA=الـ LWMA
R_string_alt_MTH_SMMA=الـ SMMA
R_string_alt_MTH_Vidya1995=الفيديا (1995)
R_string_alt_MTH_Vidya1992=الفيديا (1992) *
R_string_alt_MTH_Wilders=الـ Wilders
R_SetLimitOrders=تحديد أمر الحد
R_LimitOrderPips=أمر الحد بالنقاط
R_SetStopOrders=تحديد أمر الإيقاف
R_StopOrderPips=أمر الإيقاف بالنقاط
R_TrailingStopOrder=الإيقاف المتحرك
R_FailedCreateLimitOrStop=لم ينجح في إنشاء أمر الحد أو أمر إيقاف
R_SetBuyLevelAt=تحديد الشراء على سعر %s
R_SetSellLevelAt=تحديد البيع على سعر %s

[chs]
codepage=936
R_Name=碎形鳄鱼指标系统
R_Description=Bill William's 碎形鳄鱼指标系统
R_Price_ParamGroup=价格参数
R_Alligator_ParamGroup=鳄鱼指标参数
R_TF=TF
R_TimeFrame=时间范围 ('t1', 'm1', 'm5', 等.)
R_JawN=鳄颚平滑时期
R_JawS=鳄颚平移时期
R_TeethN=鳄齿平滑时期
R_TeethS=鳄齿平移时期
R_LipsN=鳄唇平滑时期
R_LipsS=鳄唇平移时期
R_MTH_description=标注(*)的方法必须要下载及安装
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=设定限价
R_LimitOrderPips=以点数计算限价
R_SetStopOrders=设定止损
R_StopOrderPips=以点数计算止损
R_TrailingStopOrder=移动止损
R_FailedCreateLimitOrStop=建立限价或止损失败
R_SetBuyLevelAt=设定买入@%s
R_SetSellLevelAt=设定卖出@%s

[cht]
codepage=950
R_Name=碎形鱷魚指標系統
R_Description=Bill William's 碎形鱷魚指標系統
R_Price_ParamGroup=價格參數
R_Alligator_ParamGroup=鱷魚指標參數
R_TF=TF
R_TimeFrame=時間範圍 ('t1', 'm1', 'm5', 等.)
R_JawN=鱷顎平滑時期
R_JawS=鱷顎平移時期
R_TeethN=鱷齒平滑時期
R_TeethS=鱷齒平移時期
R_LipsN=鱷唇平滑時期
R_LipsS=鱷唇平移時期
R_MTH_description=標注(*)的方法必須要下載及安裝
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=設定限價
R_LimitOrderPips=以點數計算限價
R_SetStopOrders=設定止損
R_StopOrderPips=以點數計算止損
R_TrailingStopOrder=移動止損
R_FailedCreateLimitOrStop=建立限價或止損失敗
R_SetBuyLevelAt=設定買入@%s
R_SetSellLevelAt=設定賣出@%s

[cze]
codepage=1250
R_Name=Systém Fractal-Alligator
R_Description=Systém Bill Williams's Fractal-Alligator
R_Price_ParamGroup=Cenové parametry
R_Alligator_ParamGroup=Parametry Alligator
R_TF=ČR
R_TimeFrame=Časové rozpětí
R_JawN=Alligator Jaw perioda vyhlazení
R_JawS=Alligator Jaw změny period
R_TeethN=Alligator Teeth perioda vyhlazení
R_TeethS=Alligator Teeth změny period
R_LipsN=Alligator Lips perioda vyhlazení
R_LipsS=Alligator Lips změny period
R_MTH_description=Metody označené s (*) musí být staženy a nainstalovány.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Nastavit limitní pokyn
R_LimitOrderPips=Limit v pipech
R_SetStopOrders=Nastavit stop pokyn
R_StopOrderPips=Stop v pipech
R_TrailingStopOrder=Trailing stop
R_FailedCreateLimitOrStop=Vytvoření limitu nebo stopu se nezdařilo.
R_SetBuyLevelAt=Nastavit nákup za %s
R_SetSellLevelAt=Nastavit prodej za %s

[deu]
codepage=1252
R_Name=Fractal-Alligator System
R_Description=Bill Williams's Fractal-Alligator System.
R_Price_ParamGroup=Preis Parameter
R_Alligator_ParamGroup=Alligator Parameter
R_TF=ZF
R_TimeFrame=Der Zeit Frame ('t1', 'm1', 'm5', etc.)
R_JawN=Alligator Jaw smoothing Perioden
R_JawS=Alligator Jaw shifting Perioden
R_TeethN=Alligator Teeth smoothing Perioden
R_TeethS=Alligator Teeth shifting Perioden
R_LipsN=Alligator Lips smoothing Perioden
R_LipsS=Alligator Lips shifting Perioden
R_MTH_description=Die mit (*) markierten Methoden müssen downgeloaded und installiert werden.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Limit Order setzen
R_LimitOrderPips=Limit in Pips
R_SetStopOrders=Stop Order setzen
R_StopOrderPips=Stop in Pips
R_TrailingStopOrder=Trailing Stop
R_FailedCreateLimitOrStop=Fehlgeschlagen, einen Limit oder Stop zu erzeugen
R_SetBuyLevelAt=Setze Kauf @%s
R_SetSellLevelAt=Setze Verkauf @%s

[fra]
codepage=1252
R_Name=Système Fractal-Alligator
R_Description=Système Bill Williams Fractal Alligator
R_Price_ParamGroup=Paramètres Prix
R_Alligator_ParamGroup=Paramètres Alligator
R_TF=TF
R_TimeFrame=L'unité de temps ('t1', 'm1', 'm5', etc.).
R_JawN=Périodes de lissage mâchoire d'alligator
R_JawS=Périodes de changement mâchoire d'alligator
R_TeethN=Périodes de lissage dents d'alligator
R_TeethS=Périodes de changement dents d'alligator
R_LipsN=Périodes de lissage lèvres d'alligator
R_LipsS=Périodes de changement lèvres d'alligator
R_MTH_description=Les méthodes marquées par une astérixe(*) doivent être téléchargées et installées,
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Placer ordre limite
R_LimitOrderPips=Limite en pips
R_SetStopOrders=Placer ordre stop
R_StopOrderPips=Stop en pips
R_TrailingStopOrder=Stop suiveur
R_FailedCreateLimitOrStop=Echec à créer une limite ou un stop
R_SetBuyLevelAt=Placer Achat @%s
R_SetSellLevelAt=Placer Vente @%s

[gre]
codepage=1253
R_Name=Σύστημα Fractal-Alligator
R_Description=Σύστημα Fractal-Alligator από το Bill William.
R_Price_ParamGroup=Παράμετροι Τιμής
R_Alligator_ParamGroup=Παράμετροι Alligator
R_TF=Χρονικό Πλαίσιο
R_TimeFrame=Το χρονικό πλαίσιο ('t1', 'm1', 'm5', κτλ.).
R_JawN=Περίοδοι εξομάλυνσης Alligator Jaw
R_JawS=Περίοδοι μεταβολής Alligator Jaw
R_TeethN=Περίοδοι εξομάλυνσης Alligator Teeth
R_TeethS=Περίοδοι μεταβολής Alligator Teeth
R_LipsN=Περίοδοι εξομάλυνσης Alligator Lips
R_LipsS=Περίοδοι μεταβολής Alligator Lips
R_MTH_description=Πρέπει να γίνει λήψη και εγκατάσταση των μεθόδων που είναι σημειωμένοι με (*).
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Ξέφρενοι
R_SetLimitOrders=Τοποθέτηση εντολής limit
R_LimitOrderPips=Εντολή limit σε pips
R_SetStopOrders=Τοποθέτηση εντολής stop
R_StopOrderPips=Εντολή stop σε pips
R_TrailingStopOrder=Κυλιόμενο stop
R_FailedCreateLimitOrStop=Αποτυχία δημιουργίας εντολής limit ή stop
R_SetBuyLevelAt=Τοποθέτηση Αγοράς @%s
R_SetSellLevelAt=Τοποθέτηση Πώλησης @%s

[heb]
codepage=1255
R_Name=מערכת פרקטל-אליגטור
R_Description=מערכת פרקטל-אליגטור של ביל וילאמס
R_Price_ParamGroup=משתני מחיר:
R_Alligator_ParamGroup=משתני אליגטור
R_TF=TF
R_TimeFrame=מסגרת הזמן (1 טיק, 1 דקה, 1 שעה וכו')
R_JawN=תקופות החלקה עבור אליגטור ג'ו
R_JawS=תקופות הזזה של אליגטור ג'ו
R_TeethN=תקופות החלקה של שן האליגטור
R_TeethS=תקופות הזזה של שן האליגטור
R_LipsN=תקופות החלקה של שפתי האליגטור
R_LipsS=תקופות הזזה של שפתי האליגטור
R_MTH_description=יש להוריד או להתקין את השיטות שמסומנות בכוכבית
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=הגדר הוראת לימיט
R_LimitOrderPips=לימיט בפיפסים
R_SetStopOrders=הגדר הוראת סטופ
R_StopOrderPips=סטופ בפיפסים
R_TrailingStopOrder=סטופ מזדנב
R_FailedCreateLimitOrStop=לא ניתן היה ליצור סטופ או לימיט.
R_SetBuyLevelAt=הגדר מחיר קנייה %s
R_SetSellLevelAt=הגדר מחיר מחירה %s

[ita]
codepage=1252
R_Name=Fractal-Alligator System
R_Description=Bill Williams's Fractal-Alligator System.
R_Price_ParamGroup=Parametri del prezzo
R_Alligator_ParamGroup=Parametri di Alligator
R_TF=TF
R_TimeFrame=Timeframe ('t1', 'm1', 'm5', ecc.).
R_JawN=Alligator Jaw smoothing periods
R_JawS=Alligator Jaw shifting periods
R_TeethN=Alligator Teeth smoothing periods
R_TeethS=Alligator Teeth shifting periods
R_LipsN=Alligator Lips smoothing periods
R_LipsS=Alligator Lips shifting periods
R_MTH_description=I metodi contraddistinti con (*) devono essere scaricati ed installati
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Imposta l'ordine limit
R_LimitOrderPips=Limit in pip
R_SetStopOrders=Imposta l'ordine stop
R_StopOrderPips=Stop in pip
R_TrailingStopOrder=Trailing stop
R_FailedCreateLimitOrStop=Errore nella crazione del limit o dello stop
R_SetBuyLevelAt=Imposta Buy @%s
R_SetSellLevelAt=Imposta Sell @%s

[jpn]
codepage=932
R_Name=フラクタル・アリゲーター・システム
R_Description=ビル・ウィリアムズ考案によるフラクタル・アリゲーター・システムに従い、シグナルを発します。
R_Price_ParamGroup=プライスパラメーター
R_Alligator_ParamGroup=アリゲーターパラメーター
R_TF=TF
R_TimeFrame=タイムフレーム ('t1', 'm1', 'm5', など).
R_JawN=Alligator Jaw スムージング期間
R_JawS=Alligator Jaw シフト期間
R_TeethN=Alligator Teeth スムージング期間
R_TeethS=Alligator Teeth シフト期間
R_LipsN=Alligator Lips スムージング期間
R_LipsS=Alligator Lips シフト期間
R_MTH_description=＊が付いているスムージングメソッドはFxcodebaseからダウンロードしてインストールします
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=リミット注文をセット
R_LimitOrderPips=リミット（ピップ）
R_SetStopOrders=ストップ注文をセット
R_StopOrderPips=ストップ（ピップ）
R_TrailingStopOrder=トレイルストップ
R_FailedCreateLimitOrStop=リミット、ストップ注文を作成できませんでした
R_SetBuyLevelAt=買値を指定%s
R_SetSellLevelAt=売値を指定%s

[tur]
codepage=1254
R_Name=Fraktal-Timsah Sistemi
R_Description=Bill Williams'ın Fraktal-Timsah Sistemi
R_Price_ParamGroup=Fiyat Parametreleri
R_Alligator_ParamGroup=Timsah Parametreleri
R_TF=TF
R_TimeFrame=Zaman dilimi ('t1', 'm1', 'm5', vb)
R_JawN=Timsah Çenesi düzeltme periyotları
R_JawS=Timsah Çenesi kaydırma periyotları
R_TeethN=Timsah Dişi düzeltme periyotları
R_TeethS=Timsah Dişi kaydırma periyotları
R_LipsN=Timsah Dudağı düzeltme periyotları
R_LipsS=Timsah Dudağı kaydırma periyotları
R_MTH_description=(*) ile işaretlenen yöntemler indirilip yüklenmelidir.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=ÜHO (EMA)
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Limit emrini belirle
R_LimitOrderPips=Pip cinsinden limit
R_SetStopOrders=Stop emrini belirle
R_StopOrderPips=Pip cinsinden stop
R_TrailingStopOrder=İzsüren stop
R_FailedCreateLimitOrStop=Limit ya da stop emri oluşturulamadı
R_SetBuyLevelAt=@ Alış Yap %s
R_SetSellLevelAt=@ Satış Yap %s

[esp]
codepage=1252
R_Name=Sistema Fractal-Alligator
R_Description=Sistema Bill Williams's Fractal-Alligator
R_Price_ParamGroup=Parámetros de precio
R_Alligator_ParamGroup=Parámetros Alligator
R_TF=TF
R_TimeFrame=Marco de tiempo ('t1', 'm1', 'm5', etc.).
R_JawN=Periodos Alligator Jaw suavizado
R_JawS=Periodos de movimiento Alligator Jaw
R_TeethN=Periodos Alligator Teeth suavisados
R_TeethS=Periodos de movimiento Alligator Teeth
R_LipsN=Periodos suavisados Alligator Teeth
R_LipsS=Periodos de movimiento Alligator Lips
R_MTH_description=Los métodos marcados con (*) deben ser descargados e instalados.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya(1992)
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Establecer una orden de limite
R_LimitOrderPips=Limite en pips
R_SetStopOrders=Establecer una orden de stop
R_StopOrderPips=Stop en pips
R_TrailingStopOrder=Stop fluctuante
R_FailedCreateLimitOrStop=No se puede crear un limite o stop
R_SetBuyLevelAt=Establezca compra @%s
R_SetSellLevelAt=Establezca venta @%s

[pol]
codepage=1250
R_Name=System Fraktal-Aligator
R_Description=System Fraktal-Aligator Billa Williamsa.
R_Price_ParamGroup=Parametry ceny
R_Alligator_ParamGroup=Parametry Aligatora
R_TF=TF
R_TimeFrame=Rama czasowa ('t1', 'm1', 'm5', etc.).
R_JawN=Szczęka Aligatora wygładzanie okresów
R_JawS=Szczęka Aligatora zmienianie okresów
R_TeethN=Zęby Aligatora wygładzanie okresów
R_TeethS=Zęby Aligatora zmienianie okresów
R_LipsN=Usta Aligatora wygładzanie okresów
R_LipsS=Usta Aligatora zmienianie okresów
R_MTH_description=Metoda zaznaczona gwiazdką (*) musi zostać pobrana i zainstalowana.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wildera
R_SetLimitOrders=Określ limit zlecenia
R_LimitOrderPips=Limit w czasie sygnału
R_SetStopOrders=Określ zlecenie zatrzymania
R_StopOrderPips=Stop w czasie sygnału
R_TrailingStopOrder=Zatrzymanie śledzenia
R_FailedCreateLimitOrStop=Nie udało się stworzyć limitu lub zatrzymania
R_SetBuyLevelAt=Ustaw Kupuj @%s
R_SetSellLevelAt=Ustaw Sprzedaj @%s

[por]
codepage=1252
R_Name=Sistema Fractal-Alligator
R_Description=Sistema Fractal-Alligator Bill Williams.
R_Price_ParamGroup=Parâmetros de Preço
R_Alligator_ParamGroup=Parâmetros Alligator
R_TF=TF
R_TimeFrame=O prazo ('t1', 'm1', 'm5', etc.).
R_JawN=Períodos de nivelamento da linha da mandíbula do Indicador Alligator
R_JawS=Períodos de deslocação da linha da mandíbula do Indicador Alligator
R_TeethN=Períodos de nivelamento da linha dos dentes do Indicador Alligator
R_TeethS=Períodos de deslocação da linha dos dentes do Indicador Alligator
R_LipsN=Períodos de nivelamento da linha dos lábios do Indicador Alligator
R_LipsS=Períodos de deslocação da linha dos lábios do Indicador Alligator
R_MTH_description=Os métodos assinalados com (*) têm de ser transferidos e instalados.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Definir ordem limite
R_LimitOrderPips=Limite em pips
R_SetStopOrders=Definir ordem stop
R_StopOrderPips=Stop em pips
R_TrailingStopOrder=Stop móvel
R_FailedCreateLimitOrStop=Falha ao criar um limite ou stop
R_SetBuyLevelAt=Definir Compra em %s
R_SetSellLevelAt=Definir Venda em %s

[hun]
codepage=0
R_Name=Fractal-Alligator Rendszer
R_Description=Bill Williams Fractal-Alligator rendszere.
R_Price_ParamGroup=Árfolyam beállítások
R_Alligator_ParamGroup=Alligator beállítása
R_TF=TF
R_TimeFrame=Idősík ('T1', 'M1','M5','M15',stb…)
R_JawN=Alligátor Jaw simítási eljárás
R_JawS=Alligtáor Jaw eltolási periódusok
R_TeethN=Alligátor Teeth simítási eljárás
R_TeethS=Alligtáor Teeth eltolási periódusok
R_LipsN=Alligátor Lips simítási eljárás
R_LipsS=Alligtáor Lips eltolási periódusok
R_MTH_description=A csillaggal jelölt eljárásokat le tölteni és telepíteni kell.
R_string_alt_MTH_MVA=MVA
R_string_alt_MTH_EMA=EMA
R_string_alt_MTH_LWMA=LWMA
R_string_alt_MTH_SMMA=SMMA
R_string_alt_MTH_Vidya1995=Vidya (1995)
R_string_alt_MTH_Vidya1992=Vidya (1992)*
R_string_alt_MTH_Wilders=Wilders
R_SetLimitOrders=Limitmegbízás
R_LimitOrderPips=Limit (Pip)
R_SetStopOrders=Stop megbízás
R_StopOrderPips=Stop (Pip)
R_TrailingStopOrder=Követő Stop
R_FailedCreateLimitOrStop=Stop vagy limit megbízás végrehajtásának meghiúsulása
R_SetBuyLevelAt=Vétel @
R_SetSellLevelAt=Eladás @

