include=common.lua.rc
default=enu
[enu]
codepage=1252
R_NAME=Sample moving average strategy
R_DESCRIPTION=Enters long when the Fast MA crosses over the Slow MA, and enters short when the Fast MA crosses under the Slow MA.
R_PARAMS_FMA=Fast Moving Average Parameters
R_PARAMS_SMA=Slow Moving Average Parameters
R_MA_METHOD=Moving Average method
R_MA_METHOD_D=The methods marked by asterisk(*) must be downloaded and installed from the fxcodebase.com site.
R_MA_N=Number of periods
R_MA_S=Shift
R_MA_S_D=Shift of the moving average value into the future expressed in periods.
R_MA_P=Price
R_MA_P_OPEN=Open
R_MA_P_HIGH=High
R_MA_P_LOW=Low
R_MA_P_CLOSE=Close
R_MA_P_MEDIAN=Median
R_MA_P_TYPICAL=Typical
R_MA_P_WEIGHTED=Weighted
R_PARAMS_PRICE=Price
R_TF=Timeframe
R_TR_ALLOWED_D=In case the trading is not allowed, alerts will be shown instead of actual trading.
R_YES=Yes
R_NO=No
R_AMOUNT=Amount
R_TR_L=Set Limit
R_TR_L_D=Leave 0 to not set a limit order on the trades or enter a limit distance in pips.
R_TR_S=Set Stop
R_TR_S_D=Leave 0 to not set a stop order on the trades or enter an initial stop distance in pips.
R_LOT=The amount to trade.
R_ERROR_TICK=The strategy cannot be applied on ticks.
R_ERROR_ACCOUNT=The account to trade must be chosen.
R_ERROR_OFFER=The chosen symbol is not found.
R_ERROR_METHOD=The chosen moving average method is not installed. Please use fxcodebase.com site to download the approriate moving average method.
R_ALLOWEDSIDE=Allowed side
R_ALLOWEDSIDE_D=Allowed side for trading or signaling, can be Sell, Buy or Both
R_BOTH=Both
R_USE_TRAILING_STOP=Use trailing stop

[rus]
codepage=1251
R_NAME=Пример стратегии на скользящем среднем
R_DESCRIPTION=Открывает длинную позицию, когда быстрое скользящее среднее пересекает медленное скользящее среднее сверху вниз, и короткую, когда быстрое скользящее среднее пересекает медленное скользящее среднее снизу вверх.
R_PARAMS_FMA=Параметры быстрого скользящего среднего
R_PARAMS_SMA=Параметры медленного скользящего среднего
R_MA_METHOD=Метод скользящего среднего
R_MA_METHOD_D=Методы, помеченные звездочкой (*), необходимо загрузить с сайта fxcodebase.com и установить.
R_MA_N=Количество периодов
R_MA_S=Сдвиг
R_MA_S_D=Сдвиг значения скользящего среднего в будущее, выраженный в периодах.
R_MA_P=Цена
R_MA_P_OPEN=Открытие
R_MA_P_HIGH=Максимум
R_MA_P_LOW=Минимум
R_MA_P_CLOSE=Закрытие
R_MA_P_MEDIAN=Средняя
R_MA_P_TYPICAL=Типичная
R_MA_P_WEIGHTED=Взвешенная
R_PARAMS_PRICE=Цена
R_TF=Период
R_TR_ALLOWED_D=Если торговля не разрешена, вместо собственно торговли на графике будут показываться сигналы.
R_YES=Да
R_NO=Нет
R_AMOUNT=Объем
R_TR_L=Установить лимит ордер
R_TR_L_D=Оставьте значение 0, чтобы не устанавливать лимит ордер на позиции, или введите расстояние до лимит ордера в пунктах.
R_TR_S=Установить стоп ордер
R_TR_S_D=Оставьте значение 0, чтобы не устанавливать стоп ордер на позиции, или введите расстояние до стоп ордера в пунктах.
R_LOT=Объем позиции.
R_ERROR_TICK=Эта стратегия не может быть применена на тиках.
R_ERROR_ACCOUNT=Необходимо указать счет для торговли.
R_ERROR_OFFER=Выбранный символ не найден.
R_ERROR_METHOD=Выбранный метод скользящего среднего не установлен. Пожалуйста, скачайте необходимый метод скользящего среднего с сайта fxcodebase.com.
R_ALLOWEDSIDE=Разрешенная сторона
R_ALLOWEDSIDE_D=Сторона, разрешенная для торговли и срабатывания сигналов, может быть: Покупка, Продаже или Обе.
R_BOTH=Обе
R_USE_TRAILING_STOP=Установить скользящий стоп

[ara]
codepage=1256
R_NAME=استراتيجية المتوسط المتحرك المبسط (SMA)
R_DESCRIPTION=إشارة شراء عندما يتقاطع المتحرك المتوسط السريع فوق المتحرك المتوسط البطيء وبيع عندما يتقاطع المتحرك المتوسط السريع تحت المتحرك المتوسط البطيء
R_PARAMS_FMA=ثوابت المتوسط المتحرك السريع
R_PARAMS_SMA=ثوابت المتوسط المتحرك البطيء
R_MA_METHOD=طريقة المتوسط المتحرك
R_MA_METHOD_D=يجب تنزيل وتحميل الطرق المؤشر عليها بعلامة النجمة (*) من خلال موقع التالي: fxcodebase.com
R_MA_N=عدد الشمعات
R_MA_S=التحويل
R_MA_S_D=تحويل قيمة المتوسط المتحرك إلى المستقبل معبراً عنه على شكل شمعات.
R_MA_P=السعر
R_MA_P_OPEN=الافتتاح
R_MA_P_HIGH=أعلى
R_MA_P_LOW=منخفض
R_MA_P_CLOSE=الإغلاق
R_MA_P_MEDIAN=الوسطي
R_MA_P_TYPICAL=الإعتيادي
R_MA_P_WEIGHTED=المرجح
R_PARAMS_PRICE=السعر
R_TF=الإطار الزمني
R_TR_ALLOWED_D=سيتم عرض الإشارة بدلاً من التداول الفعلي في حال عدم السماح بالتداول
R_YES=نعم
R_NO=لا
R_AMOUNT=الكمية
R_TR_L= تحديد أمر الحد
R_TR_L_D=اختر 0 في حال كنت لا تريد أن تضع أمر الحد على التداولات أو ادخل مسافة الحد بالنقاط.
R_TR_S= تحديد أمر الإيقاف
R_TR_S_D=اختر 0 في حال كنت لا تريد أن تضع أمر الإيقاف على التداولات أو ادخل مسافة الإيقاف بالنقاط
R_LOT=كمية التداول
R_ERROR_TICK=لا يمكن تطبيق هذه الاستراتيجية على الفترة الزمنية المختارة. أرجو تغيير الفترة الزمنية.
R_ERROR_ACCOUNT=يجب اختيار الحساب الذي سيتم التداول عليه.
R_ERROR_OFFER=لم يتم العثور على الموضوع الذي تم اختياره.
R_ERROR_METHOD=طريقة المتوسطة المتحرك المختارة لم يتم تحميلها بعد. أرجو زيارة الموقع التالي fxcodebase.com وذلك لتنزل طريقة المتوسط المتحرك المناسبة
R_ALLOWEDSIDE=الجانب المسموح به
R_ALLOWEDSIDE_D=الجانب المسموح به للتداول أو للإشارات. من المكن البيع، الشراء أو كلاهما
R_BOTH=كلا الجانبين
R_USE_TRAILING_STOP=تحديد الوقف المتحرك

[chs]
codepage=936
R_NAME=移动平均线策略
R_DESCRIPTION=当快平均线交叉向上穿越慢平均线时，策略入场做多，当快平均线交叉向下穿越慢平均线时， 策略入场做空
R_PARAMS_FMA=快移动平均线参数
R_PARAMS_SMA=慢移动平均线参数
R_MA_METHOD=移动平均线方法
R_MA_METHOD_D=标记了星号(*)的方法必需由fxcodebase.com网站被下载及安装
R_MA_N=棒数目
R_MA_S=转移
R_MA_S_D=移动平均线值转移到未来的棒上表达
R_MA_P=价格
R_MA_P_OPEN=开市
R_MA_P_HIGH=最高
R_MA_P_LOW=最低
R_MA_P_CLOSE=收市
R_MA_P_MEDIAN=中间
R_MA_P_TYPICAL=典型
R_MA_P_WEIGHTED=加权
R_PARAMS_PRICE=价格
R_TF=时间范围
R_TR_ALLOWED_D=如果交易是不被允许的，将显示一个提示而不是实际的交易
R_YES=是
R_NO=否
R_AMOUNT=数量
R_TR_L=设定限价
R_TR_L_D=在交易上设置0为不设置限价挂单或以点值输入限价距离
R_TR_S=设定止损
R_TR_S_D=在交易上设置0为不设置止损挂单或以点值输入止损距离
R_LOT=交易数量
R_ERROR_TICK=策略不能应用在点线图
R_ERROR_ACCOUNT=必需选定交易账户
R_ERROR_OFFER=没找到所选择的
R_ERROR_METHOD=已选择的移动平均方法并未安装. 请使用fxcodebase.com网站下载适当的移动平均方法
R_ALLOWEDSIDE=容许方向
R_ALLOWEDSIDE_D=允许交易或者信号发出的方向，可以是卖出、买入或两者
R_BOTH=两者
R_USE_TRAILING_STOP=设定移动止损

[cht]
codepage=950
R_NAME=移動平均線策略
R_DESCRIPTION=當快平均線交叉向上穿越慢平均線時，策略入場做多，當快平均線交叉向下穿越慢平均線時， 策略入場做空
R_PARAMS_FMA=快移動平均線參數
R_PARAMS_SMA=慢移動平均線參數
R_MA_METHOD=移動平均線方法
R_MA_METHOD_D=標記了星號(*)的方法必需由fxcodebase.com網站被下載及安裝
R_MA_N=棒數目
R_MA_S=轉移
R_MA_S_D=移動平均線值轉移到未來的棒上表達
R_MA_P=價格
R_MA_P_OPEN=開市
R_MA_P_HIGH=最高
R_MA_P_LOW=最低
R_MA_P_CLOSE=收市
R_MA_P_MEDIAN=中間
R_MA_P_TYPICAL=典型
R_MA_P_WEIGHTED=加權
R_PARAMS_PRICE=價格
R_TF=時間範圍
R_TR_ALLOWED_D=如果交易是不被允許的，將顯示一個提示而不是實際的交易
R_YES=是
R_NO=否
R_AMOUNT=數量
R_TR_L=設定限價
R_TR_L_D=在交易上設置0為不設置限價掛單或以點值輸入限價距離
R_TR_S=設定止損
R_TR_S_D=在交易上設置0為不設置止損掛單或以點值輸入止損距離
R_LOT=交易數量
R_ERROR_TICK=策略不能應用在點線圖
R_ERROR_ACCOUNT=必需選定交易賬戶
R_ERROR_OFFER=沒找到所選擇的
R_ERROR_METHOD=已選擇的移動平均方法並未安裝. 請使用fxcodebase.com網站下載適當的移動平均方法
R_ALLOWEDSIDE=容許方向
R_ALLOWEDSIDE_D=允許交易或者信號發出的方向，可以是賣出、買入或兩者
R_BOTH=兩者
R_USE_TRAILING_STOP=設定移動止損

[cze]
codepage=1250
R_NAME=Vzor strategie klouzavého průměru
R_DESCRIPTION=Vstupuje do dlouhých pozic, když rychlý klouzavý průměr překročí zespodu pomalý klouzavý průměr a vstupuje do krátkých pozic, když rychlý klouzavý průměr překročí zeshora pomalý klouzavý průměr.
R_PARAMS_FMA=Parametry Fast Moving Average
R_PARAMS_SMA=Parametry Slow Moving Average
R_MA_METHOD=Typ klouzavého průměru
R_MA_METHOD_D=Metody označené hvězdičkou (*) musí být staženy a nainstalovány ze stránky fxcodebase.com.
R_MA_N=Počet period
R_MA_S=Posun
R_MA_S_D=Posun hodnot klouzavého průměru do budoucnosti vyjádřený v počtu period.
R_MA_P=Cena
R_MA_P_OPEN=Otevírací cena
R_MA_P_HIGH=Maximum
R_MA_P_LOW=Minimum
R_MA_P_CLOSE=Zavírací cena
R_MA_P_MEDIAN=Medián
R_MA_P_TYPICAL=Typická cena
R_MA_P_WEIGHTED=Vážená cena
R_PARAMS_PRICE=Cena
R_TF=Časový rámec
R_TR_ALLOWED_D=V případě, že obchodování není možné, místo obchodování se zobrazí alert.
R_YES=Ano
R_NO=Ne
R_AMOUNT=Objem
R_TR_L=Nastavit limitní pokyn
R_TR_L_D=Ponechejte 0, pokud nechcete na obchody nastavovat limit pokyn nebo vložte počáteční vzdálenost limitu v pipech.
R_TR_S=Nastavit stop pokyn
R_TR_S_D=Ponechejte 0, pokud nechcete na obchody nastavovat stop pokyn nebo vložte počáteční vzdálenost stopu v pipech.
R_LOT=Objem k obchodování
R_ERROR_TICK=Signál nemůže být použit na tick periodu
R_ERROR_ACCOUNT=Musí být vybrán účet pro obchodování.
R_ERROR_OFFER=Zvolená nabídka není nalezena.
R_ERROR_METHOD=Vybraná metoda klouzavého průměru není nainstalovaná. Prosím použijte ke stažení fxcodebase.com.
R_ALLOWEDSIDE=Povolit dlouhé/krátké pozice
R_ALLOWEDSIDE_D=Povolení vstupu jen do dlouhých pozic, jen do krátkých pozic nebo do dlouhých i krátkých pozic.
R_BOTH=Dlouhé i krátké pozice
R_USE_TRAILING_STOP=Nastavit trailing stop

[esp]
codepage=1252
R_NAME=Estrategia de promedio móvil
R_DESCRIPTION=La estrategia entra en largo rápido MA y cruza lento por encima de MA, y entra corto cuando el MA cruza rápido por debajo del MA lento.
R_PARAMS_FMA=Parámetros de Promedio Móvil Rápido
R_PARAMS_SMA=Parámetros de Promedio Móvil Lento
R_MA_METHOD=Método de Promedio Móvil
R_MA_METHOD_D=Los métodos marcados con el asterisco(*) deben de ser descargados e instalados desde fxcodebase.com.
R_MA_N=Numero de barras
R_MA_S=Movimiento
R_MA_S_D=Movimiento del valor de promedio móvil en los futuros expresados en barras.
R_MA_P=Precio
R_MA_P_OPEN=Abierto
R_MA_P_HIGH=Alto
R_MA_P_LOW=Bajo
R_MA_P_CLOSE=Cierre
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Tradicional
R_MA_P_WEIGHTED=Ponderado
R_PARAMS_PRICE=Precio
R_TF=Periodo de tiempo
R_TR_ALLOWED_D=En el caso que el operar no sea permitido, una alerta aparecerá en lugar de la operación real
R_YES=Sí
R_NO=No
R_AMOUNT=Monto
R_TR_L=Establecer una orden de limite
R_TR_L_D=Fijar 0 para no fijar una orden de limite a las operaciones o para incluir una distancia en pips.
R_TR_S=Establecer una orden de stop
R_TR_S_D=Fijar 0 para no fijar una orden de stop a las operaciones o incluir una distancia inicial del stop en pips
R_LOT=Monto para operar
R_ERROR_TICK=Bajo
R_ERROR_ACCOUNT=Debe de elegir la cuenta que va a ser operada.
R_ERROR_OFFER=La oferta elegida no se ha encontrado.
R_ERROR_METHOD=El método elegido de Promedio Móvil no se encuentra instalado. Por favor ingrese al sitio fxcodebase.com para descargar el método apropiado de Promedio Móvil
R_ALLOWEDSIDE=Lugar Permitido
R_ALLOWEDSIDE_D=Lugar Permitido para operar o señalizar, puede ser comprar, vender o ambos.
R_BOTH=Ambos
R_USE_TRAILING_STOP=Establezca un stop fluctuante

[fra]
codepage=1252
R_NAME=Stratégie exemple sur moyenne mobile
R_DESCRIPTION=La stratégie entre à l'achat lorsque la MA passe au dessus de la MA lente, et entre à la vente lorsque la MA rapide passe en dessous de la MA lente
R_PARAMS_FMA=Paramètres de Moyenne mobile rapide
R_PARAMS_SMA=Paramètres de Moyenne mobile lente
R_MA_METHOD=Méthode de moyenne mobile
R_MA_METHOD_D=Les méthodes marquées par une astérixe(*) doivent être téléchargées et installées depuis le site fxcodebase.com
R_MA_N=Le nombre de barres
R_MA_S=Décalage
R_MA_S_D=Décalage de la valeur de moyenne mobile dans le futur exprimé en barres
R_MA_P=Prix:
R_MA_P_OPEN=Ouvrir
R_MA_P_HIGH=Haut
R_MA_P_LOW=Bas
R_MA_P_CLOSE=Fermer
R_MA_P_MEDIAN=Médiane
R_MA_P_TYPICAL=Typique
R_MA_P_WEIGHTED=Pondéré
R_PARAMS_PRICE=Prix:
R_TF=Horizon de temps
R_TR_ALLOWED_D=Au cas où le t-rading n'est pas permis, une alerte sera affichée à la place de trading réel
R_YES=Oui
R_NO=Non
R_AMOUNT=Montant
R_TR_L=Placer ordre limite
R_TR_L_D=Mettre 0 à ne pas mettre d'ordre limite sur les trades ou entrer une distance limite en pips
R_TR_S=Placer ordre stop
R_TR_S_D=Mettre 0 à ne pas mettre d'ordre stop sur les trades ou entrer une distance stop en pips
R_LOT=Montant à trader
R_ERROR_TICK=La stratégie ne peut être appliquée à des ticks
R_ERROR_ACCOUNT=Le compte à trader doit être choisi
R_ERROR_OFFER=L'offre choisie n'est pas trouvée
R_ERROR_METHOD=La méthode de moyenne mobile choisie n'est pas installée. Veuillez utiliser le site fxcodebase.com pour télécharger la méthode appropriée de moyenne mobile
R_ALLOWEDSIDE=Sens permis
R_ALLOWEDSIDE_D=Sens permis pour le trading ou les signaux, peut être Vendre, Acheter ou les Deux
R_BOTH=Les deux
R_USE_TRAILING_STOP=Placer stop suiveur

[gre]
codepage=1253
R_NAME=Η στρατηγική του κινητού μέσου όρου
R_DESCRIPTION=Η στρατηγική εισάγεται σε θέση αγοράς όταν ο γρήγορος ΚΜΟ διαστραυρώνεται πάνω από τον αργό ΚΜΟ, και εισάγεται σε θέση πώλησης όταν ο γρήγορος ΚΜΟ διασταυρώνεται κάτω από τον αργό ΚΜΟ.
R_PARAMS_FMA=Παράμετροι γρήγορου Κινητού Μέσου Όρου
R_PARAMS_SMA=Παράμετροι αργού Κινητού Μέσου Όρου
R_MA_METHOD=Μέθοδος Κινητού Μέσου Όρου
R_MA_METHOD_D=Οι μέθοδοι που έχουν αστερίσκο (*) πρέπει να εγκατασταθούν από το site fxcodebase.com.
R_MA_N=Ο αριθμός των ραβδών
R_MA_S=Αλλαγή
R_MA_S_D=Αλλαγή της αξίας του κινητού μέσου όρου σε μελλοντική, μεταφρασμένη σε ράβδους.
R_MA_P=Τιμή
R_MA_P_OPEN=Άνοιγμα
R_MA_P_HIGH=Υψηλό
R_MA_P_LOW=Χαμηλό
R_MA_P_CLOSE=Κλείσιμο
R_MA_P_MEDIAN=Διάμεσος
R_MA_P_TYPICAL=Τυπικός
R_MA_P_WEIGHTED=Σταθμισμένος
R_PARAMS_PRICE=Τιμή
R_TF=Χρονική περίοδος
R_TR_ALLOWED_D=Σε περίπτωση που οι συναλλαγές δεν επιτρέπεται, θα εμφανιστεί μία ειδοποίηση αντί για τη πραγματοποίηση της συναλλαγής.
R_YES=Ναι
R_NO=Όχι
R_AMOUNT=Ποσό
R_TR_L=Τοποθέτηση εντολής limit
R_TR_L_D=Συπληρώστε το 0 (μηδέν), για να μην οριστεί εντολή limit στις συναλλαγές, ή ορίστε απόσταση limit σε pips.
R_TR_S=Τοποθέτηση εντολής stop
R_TR_S_D=Συπληρώστε το 0 (μηδέν), για να μην οριστεί εντολή stop στις συναλλαγές, ή ορίστε μία αρχική απόσταση stop σε pips.
R_LOT=Ποσό συναλλαγής.
R_ERROR_TICK=Η στρατηγική δε μπορεί να εφαρμοστεί σε ticks.
R_ERROR_ACCOUNT=Πρέπει να επιλεχθεί ο λογαριασμός που προορίζεται για συναλλαγές.
R_ERROR_OFFER=Η προσφορά που έχετε επιλέξει δε βρέθηκε.
R_ERROR_METHOD=H επιλεγμένη μέθοδος κινητού μέσου όρου δεν έχει εγκατασταθεί. Παρακαλώ κατεβάστε την κατάλληλη μέθοδο κινητού μέσου όρου από το site fxcodebase.com.
R_ALLOWEDSIDE=Επιτρεπόμενη πλευρά
R_ALLOWEDSIDE_D=Η επιτρεπόμενη πλευρά για πραγματοποίηση συναλλαγών ή παροχή σημάτων, μπορεί να είναι η Πώληση, η Αγορά ή και τα Δύο.
R_BOTH=Και τα δυο
R_USE_TRAILING_STOP=Τοποθέτηση κυλιόμενου stop

[pol]
codepage=1250
R_NAME=Strategia pojedynczej średniej kroczącej
R_DESCRIPTION=Strategia zajmowania pozycji długiej, kiedy szybka średnia krocząca przebija się ponad wolną średnią, pozycja krótka - kiedy szybka średnia krocząca przebija się pod wolną średnią.
R_PARAMS_FMA=Parametry szybkiej średniej kroczącej
R_PARAMS_SMA=Parametry wolnej średniej kroczącej
R_MA_METHOD=Metoda obliczania średniej
R_MA_METHOD_D=Metody oznaczone gwiazdką (*) muszą zostać załadowane ze strony fxcodebase.com i zainstalowane.
R_MA_N=Liczba słupków
R_MA_S=Przesuń
R_MA_S_D=Przesuń średnią kroczącą do przodu o określoną liczbę słupków.
R_MA_P=Kurs
R_MA_P_OPEN=Otwarcie
R_MA_P_HIGH=Max
R_MA_P_LOW=Min
R_MA_P_CLOSE=Zamknięcie
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Typowa
R_MA_P_WEIGHTED=Ważona
R_PARAMS_PRICE=Kurs
R_TF=Przedział czasowy
R_TR_ALLOWED_D=Jeżeli handel nie jest dozwolony, będzie pokazany alert zamiast rzeczywistej transakcji
R_YES=Tak
R_NO=Nie
R_AMOUNT=Kwota
R_TR_L=Określ limit zlecenia
R_TR_L_D=Ustaw 0 aby nie stosować zlecenia Limit, lub ustaw preferowane oddalenie Limitu w pipsach.
R_TR_S=Określ zlecenie zatrzymania
R_TR_S_D=Ustaw 0 aby nie stosować zlecenia Stop Ruchomy, lub ustaw preferowane oddalenie Stopu Ruchomego w pipsach.
R_LOT=Kwota transakcji
R_ERROR_TICK=Strategia nie może być oparta na danych tick'owych
R_ERROR_ACCOUNT=Rachunek do zawierania transakcji musi być zdefiniowany
R_ERROR_OFFER=Zdefiniowane zlecenie nie zostało znalezione
R_ERROR_METHOD=Wybrana metoda średnich kroczących nie jest zainstalowana. Proszę odwiedzić stronę fxcodebase.com aby pobrać odpowiednia metodę średnich kroczących.
R_ALLOWEDSIDE=Wydzielona strona:
R_ALLOWEDSIDE_D=Wydzielona strona dla hadlu lub sygnalizowania, może być Sprzedaj, Kupuj lub Oba
R_BOTH=Oba
R_USE_TRAILING_STOP=Ustaw zatrzymanie śledzenia

[por]
codepage=1252
R_NAME=A estratégia de média móvel sample
R_DESCRIPTION=A estratégia entra em uma posição de compra quando a MM rapida cruza por cima da MM lenta, e entra em venda quando a MM rapida cruza debaixo da MM lenta.
R_PARAMS_FMA=Parâmetros da Média Móvel Rápida
R_PARAMS_SMA=Parâmetros da Média Móvel Lenta
R_MA_METHOD=Método de Média Móvel
R_MA_METHOD_D=Os métodos marcados com um asterisco (*) devem ser carregados do site fxcodebase.com.
R_MA_N=O numero de barras
R_MA_S=Deslocação
R_MA_S_D=Deslocação futura do valor da média móvel expressado em barras.
R_MA_P=Preço
R_MA_P_OPEN=Abertura
R_MA_P_HIGH=Alto
R_MA_P_LOW=Baixo
R_MA_P_CLOSE=Fecho
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Típica
R_MA_P_WEIGHTED=Ponderada
R_PARAMS_PRICE=Preço
R_TF=Prazo
R_TR_ALLOWED_D=Em caso de que a operação não é permitida, uma alerta será mostrada em vez de uma operação
R_YES=Sim
R_NO=Não
R_AMOUNT=Montante
R_TR_L=Definir ordem limite
R_TR_L_D=Inserir 0 para não estabelecer uma ordem de limite ou inserir uma distância do limite em pips.
R_TR_S=Definir ordem stop
R_TR_S_D=Inserir 0 para não estabelecer uma ordem de stop ou inserir uma distância do stop em pips.
R_LOT=Montante para operar.
R_ERROR_TICK=A estratégia não pode ser aplicada em ticks.
R_ERROR_ACCOUNT=A conta de operação deve ser escolhida.
R_ERROR_OFFER=A oferta escolhida não foi encontrada.
R_ERROR_METHOD=O método de média móvel selecionado não foi instalado. Por favor, entre no site fxcodebase.com para baixar o método de média móvel apropriado.
R_ALLOWEDSIDE=Lado permitido
R_ALLOWEDSIDE_D=Lado permitido para operações ou sinalização, pode ser Vender, Comprar ou Ambos
R_BOTH=Ambos
R_USE_TRAILING_STOP=Definir stop móvel

[tur]
codepage=1254
R_NAME=Örnek hareketli ortalama stratejisi
R_DESCRIPTION=Strateji, hızlı HO yavaş HO’yu yukarı kestiğinde alış, yavaş HO hızlı HO’yu aşağı kestiğinde ise satış emri girmektedir.
R_PARAMS_FMA=Hızlı Hareketli Ortalama Parametreleri
R_PARAMS_SMA=Yavaş Hareketli Ortalama Parametreleri
R_MA_METHOD=Hareketli Ortalama Yöntemi
R_MA_METHOD_D=Asterisk(*) ile işaretlenmiş olan yöntemler fxcodebase.com sitesinden indirilmeli ve kaydedilmelidir.
R_MA_N=Çubuk sayısı
R_MA_S=Kaydırma
R_MA_S_D=Hareketli ortalama değerinin sonraki çubuğa doğru kaydırılması.
R_MA_P=Fiyat
R_MA_P_OPEN=Açılış
R_MA_P_HIGH=En Yüksek
R_MA_P_LOW=En Düşük
R_MA_P_CLOSE=Kapanış
R_MA_P_MEDIAN=Medyan
R_MA_P_TYPICAL=Tipik
R_MA_P_WEIGHTED=Ağırlıklı
R_PARAMS_PRICE=Fiyat
R_TF=Zaman dilimi
R_TR_ALLOWED_D=Alım satıma izin verilmemesi durumunda gerçek alım satım yerine bir uyarı görüntülenecektir.
R_YES=Evet
R_NO=Hayır
R_AMOUNT=Miktar
R_TR_L=Limit emrini belirle
R_TR_L_D=İşlemlerinize limit emri girmemek için 0'ı seçin ya da pip cinsinden bir limit uzaklığı girin.
R_TR_S=Stop emrini belirle
R_TR_S_D=İşlemlerinize stop emri girmemek için 0'ı seçin ya da pip cinsinden bir ilk stop uzaklığı girin.
R_LOT=Alım satım yapılacak miktar.
R_ERROR_TICK=Strateji tik verisiyle uygulanamıyor.
R_ERROR_ACCOUNT=Alım satım yapılacak hesap seçilmeli.
R_ERROR_OFFER=Seçilen teklif bulunamadı.
R_ERROR_METHOD=Seçilen hareketli ortalama yöntemi yüklenmemiş. Lütfen fxcodebase.com sitesinden uygun olan hareketli ortalama yöntemini indiriniz.
R_ALLOWEDSIDE=İzin verilen işlem yönü
R_ALLOWEDSIDE_D=Alım satım ya da sinyaller için izin verilen işlem yönünü gösterir. Satış, Alış ya da Her ikisi olabilir.
R_BOTH=Her ikisi
R_USE_TRAILING_STOP=İzsüren stobu belirle

[ita]
codepage=1252
R_NAME=La strategia di media mobile semplice
R_DESCRIPTION=Ingressi long quando la MA veloce incorcia a rialzo la MA lenta e ingressi short quando la MA veloce incrocia a ribasso la MA lenta.
R_PARAMS_FMA=Parametri Media Mobile veloce
R_PARAMS_SMA=Parametri Media Mobile lenta
R_MA_METHOD=Metodo Media Mobile
R_MA_METHOD_D=Le metodologie segnate con asterischi (*) devono essere scaricate ed installate dal sito fxcodebase.com.
R_MA_N=Il numero delle barre
R_MA_S=Spostare
R_MA_S_D=Spostamento espresso in barre del valore della media mobile in futuro.
R_MA_P=Prezzo:
R_MA_P_OPEN=Open
R_MA_P_HIGH=High
R_MA_P_LOW=Low
R_MA_P_CLOSE=Close
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Tipica
R_MA_P_WEIGHTED=Pesata
R_PARAMS_PRICE=Prezzo:
R_TF=Timeframe
R_TR_ALLOWED_D=In caso in cui il trading non sia permesso, sarà mostrato un alert invece di un trading attuale
R_YES=Yes
R_NO=No
R_AMOUNT=Importo
R_TR_L=Imposta l'ordine limit
R_TR_L_D=Imposta 0 per non impostare ordine limit alla posizione o imposta una distanza limit in pips.
R_TR_S=Imposta l'ordine stop
R_TR_S_D=Imposta 0 per non impostare ordine stop alla posizione o imposta una distanza stop in pips.
R_LOT=Importo da scambiare
R_ERROR_TICK=La strategia non può essere aoolicata in ticks.
R_ERROR_ACCOUNT=Deve essere scelto il conto di trading
R_ERROR_OFFER=L'offerta scelta non è trovata.
R_ERROR_METHOD=Il metodo media mobile scelto non è installato. Per cortesia usa fxcodebase.com per scaricare il correto metodo media mobili.
R_ALLOWEDSIDE=Lato consentito
R_ALLOWEDSIDE_D=I lati consentiti per il trading o per i segnali possono essere Sell, Buy o Entrambi
R_BOTH=Entrambi
R_USE_TRAILING_STOP=Imposta il trailing stop

[heb]
codepage=1255
R_NAME=אסטרטגיית ממוצע נע פשוט.
R_DESCRIPTION=האסטרטגיה נכנסת בלונג כאשר ממוצע נע מהיר חוצה מעל ממוצע נע איטי, ונכנסת בשורט כאשר ממוצע נע מהיא חוצה מתחת ממוצע נע איטי
R_PARAMS_FMA=משתני ממוצע נע מהיר
R_PARAMS_SMA=משתני ממוצע נע איטי
R_MA_METHOD=שיטת ממוצע נע
R_MA_METHOD_D=יש להוריד את השיטה המסומנת בכוכבית (*) מאתר fxcodebase.com ולהתקינה
R_MA_N=מספר העמודות
R_MA_S=הסט
R_MA_S_D=הסט את ערך הממוצע הנע לערך עתידי המיוצג בעמודות.
R_MA_P=מחיר
R_MA_P_OPEN=פתיחה
R_MA_P_HIGH=שיא
R_MA_P_LOW=שפל
R_MA_P_CLOSE=סגירה
R_MA_P_MEDIAN=ממוצע
R_MA_P_TYPICAL=אופייני
R_MA_P_WEIGHTED=משוקלל
R_PARAMS_PRICE=מחיר
R_TF=מסגרת זמן
R_TR_ALLOWED_D=במידה והמסחר אינו מורשה, במקום עסקה בפועל תופיע התראה.
R_YES=כן
R_NO=לא
R_AMOUNT=כמות
R_TR_L=הגדר הוראת לימיט
R_TR_L_D=הגדר 0 כדי שלא יוגדרו הוראות לימיט לעסקאות או הגדר לימיט ראשוני בפיפסים
R_TR_S=הגדר הוראת סטופ
R_TR_S_D=הגדר 0 כדי שלא יוגדרו הוראות סטופ לעסקאות או הגדר סטופ ראשוני בפיפסים
R_LOT=כמות עסקה.
R_ERROR_TICK=לא ניתן ליישם את האסטרטגיה הזו על טיקים.
R_ERROR_ACCOUNT=יש לבחור את חשבון המסחר
R_ERROR_OFFER=לא נמצאה ההצעה שנבחרה
R_ERROR_METHOD=שיטת הממוצע הנע שנבחרה לא הותקנה. אנא הורד את השיטה מאתר fxcodebase.com.
R_ALLOWEDSIDE=צד מותר
R_ALLOWEDSIDE_D=צד מותר עובר מסחר או איתות, יכול להיות קנייה, מכירה, או שניהם
R_BOTH=שניהם
R_USE_TRAILING_STOP=הגדר סטופ מזדנב

[deu]
codepage=1252
R_NAME=Die gleitende Durchschnittsstrategie
R_DESCRIPTION=Die Strategie geht Long wenn der schnelle gleitende Durschnitt über den langsamen gleitenden Durschnitt kreuzt, und geht Short wenn der schnelle gleitende Durschnitt unter dem langsamen gleitenden Durschnitt fällt.
R_PARAMS_FMA=Parameter für einen schnellen gleitenden Durschnitt
R_PARAMS_SMA=Parameter für einen langsamen gleitenden Durschnitt
R_MA_METHOD=Methode für gleitenden Durschnitt
R_MA_METHOD_D=Die Methoden welche mit einem Sternchen markiert sind müssen von der fxcodebase.com Webseite heruntergeladen und installiert werden.
R_MA_N=Die Anzahl an Bars
R_MA_S=Wechsel
R_MA_S_D=Wechsel des gleitenden Durschnitts dargestellt als Bars
R_MA_P=Preis
R_MA_P_OPEN=Eröffnung
R_MA_P_HIGH=Hoch
R_MA_P_LOW=Tief
R_MA_P_CLOSE=Schluss
R_MA_P_MEDIAN=Median
R_MA_P_TYPICAL=Typisch
R_MA_P_WEIGHTED=Gewichtet
R_PARAMS_PRICE=Preis
R_TF=Zeitraum
R_TR_ALLOWED_D=Im Fall, dass der Handel nicht erlaubt ist, wird anstelle eines richtigen Trades eine Warnmeldung angezeigt
R_YES=Ja
R_NO=Nein
R_AMOUNT=Betrag
R_TR_L=Limit Order setzen
R_TR_L_D=Belassen Sie den Eintrag bei 0 um keine Limit Order zu setzen oder tragen Sie einen Abstand in Pips für Ihre Limit Order ein
R_TR_S=Stop Order setzen
R_TR_S_D=Belassen Sie den Eintrag bei 0 um keine Stop Order zu setzen oder tragen Sie einen Abstand in Pips für Ihre initiale Stop Order ein
R_LOT=Betrag zum traden
R_ERROR_TICK=Diese Strategie kann nicht auf Ticks angewendet werden.
R_ERROR_ACCOUNT=Das Konto zum handeln muss ausgewählt werden
R_ERROR_OFFER=Das ausgewählte Angebot konnte nicht gefunden werden
R_ERROR_METHOD=Die ausgewählte gleitende Durschnitt Methode konnte nicht installiert werden. Bitte laden Sie die entsprechende Methode von der fxcodebase.com Webseite herunter.
R_ALLOWEDSIDE=Erlaubte Seite
R_ALLOWEDSIDE_D=Erlaubte Seite zum Handeln oder Signalisieren, kann Kauf oder Verkauf oder beides sein
R_BOTH=Beides
R_USE_TRAILING_STOP=Trailing Stop setzen

[jpn]
codepage=932
R_NAME=移動平均戦略
R_DESCRIPTION=高速移動平均線が低速移動平均線を上に越えた時に買いエントリーを、高速移動平均線が低速移動平均線を下に越えた時に売りエントリーを出します。
R_PARAMS_FMA=短期移動平均線パラメーター
R_PARAMS_SMA=長期移動平均線パラメーター
R_MA_METHOD=移動平均線の種類
R_MA_METHOD_D=＊が付いているスムージングメソッドはFxcodebaseからダウンロードしてインストールします
R_MA_N=期間数
R_MA_S=シフト
R_MA_S_D=Shift of the moving average value into the future expressed in periods.
R_MA_P=レート
R_MA_P_OPEN=始値
R_MA_P_HIGH=高値
R_MA_P_LOW=安値
R_MA_P_CLOSE=終値
R_MA_P_MEDIAN=中央値（（高値+安値）/2）
R_MA_P_TYPICAL=平均値(高値+安値+終値)/3)
R_MA_P_WEIGHTED=加重
R_PARAMS_PRICE=レート
R_TF=タイムフレーム
R_TR_ALLOWED_D=取引が許可されない場合は、アラーとが表示されます
R_YES=あり
R_NO=なし
R_AMOUNT=取引額
R_TR_L=リミットオーダーをセット
R_TR_L_D=リミットオーダーを設定しない場合は値を０のままにしてください
R_TR_S=ストップオーダーをセット
R_TR_S_D=ストップオーダーを設定しない場合は値を０のままにしてください
R_LOT=取引額
R_ERROR_TICK=このストラテジーはティックには対応しません
R_ERROR_ACCOUNT=取引口座を指定してください
R_ERROR_OFFER=指定した銘柄（通貨ペア）が見つかりません
R_ERROR_METHOD=指定した移動平均法は使用できません。Fxcodebase.comで必要なものをダウンロードしてください
R_ALLOWEDSIDE=両建て可不可
R_ALLOWEDSIDE_D=売り、買い、もしくは両建て
R_BOTH=両建て
R_USE_TRAILING_STOP=トレイルストップ

[hun]
codepage=0
R_NAME=Egyszerű Mozgóátlag Stratégia
R_DESCRIPTION=Vétel ha a gyorsabb mozgóátlag alulról metszi a lassabb mozgóátlagot, Eladás ha a gyors mozgóátlag felülről metszi a lassabb mozgóátlagot.
R_PARAMS_FMA=Gyors Mozgóátlag periódusa
R_PARAMS_SMA=Lassú Mozgóátlag periódusa
R_MA_METHOD=Mozgóátlag Módszer
R_MA_METHOD_D=Az asterisk(*) metódust le kell tölteni az FXCodeBase honlapjáról és telepíteni kell.
R_MA_N=Periódusok száma
R_MA_S=Eltolás
R_MA_S_D=A mozgóátlag x periódussal való eltolása a jövőbe.
R_MA_P=Árfolyam:
R_MA_P_OPEN=Nyitóár
R_MA_P_HIGH=Csúcspont
R_MA_P_LOW=Mélypont
R_MA_P_CLOSE=Záróár
R_MA_P_MEDIAN=Medián
R_MA_P_TYPICAL=Tipikus ár
R_MA_P_WEIGHTED=Súlyozott ár
R_PARAMS_PRICE=Árfolyam
R_TF=Idősík
R_TR_ALLOWED_D=Ha a kereskedést nem engedélyezi akkor kereskedési jelzéseket kap a tényleges kötés helyett.
R_YES=Igen
R_NO=Nem
R_AMOUNT=Mennyiség
R_TR_L=Limit beállítása
R_TR_L_D=Állítsa 0-ra ha nem kíván limitmegbízást adni vagy a távolságot Pip-ekben kívánja megadni.
R_TR_S=Követő Stop beállítása
R_TR_S_D=Állítsa 0-ra ha nem kíván stop megbízást adni vagy ha egy bizonyos Pip-ekben mért távolságban kívánja használni.
R_LOT=Kereskedni kívánt mennyiség
R_ERROR_TICK=A stratégia tick típusú grafikonon nem alkalmazható.
R_ERROR_ACCOUNT=A kereskedési számlát ki kell választani.
R_ERROR_OFFER=A keresett instrumentum nem található.
R_ERROR_METHOD=A kiválasztott MA mód nincs telepítve. Kérem, töltse le a fxcodebase.com oldalról a megfelelő mozgóátlag metódust.
R_ALLOWEDSIDE=Megengedett oldal
R_ALLOWEDSIDE_D=Kereskedésre vagy szignálok szolgáltatásokra használható alkalmazás. Adhat vételi és eladási jelzéseket is.
R_BOTH=Mindkettő
R_USE_TRAILING_STOP=Használjon követő stoppot

