include=common.lua.rc
default=enu
[enu]
codepage=1252
name=MACD Sample
description=Classic MACD sample.
param_MACD_ParamGroup=MACD indicator parameters
param_Strategy_ParamGroup=Strategy Parameters
param_Price_ParamGroup=Price Parameters
param_SN_name=Short EMA periods
param_SN_description=The number of periods for the short EMA.
param_LN_name=Long EMA periods
param_LN_description=The number of periods for the long EMA.
param_IN_name=Signal line periods
param_IN_description=The number of periods for the signal line.
param_MACDOpenLevel_name=MACD open level
param_MACDOpenLevel_description=The minimal MACD level for opening of a position.
param_MACDCloseLevel_name=MACD close level
param_MACDCloseLevel_description=The MACD level for closing of a position.
param_ConfirmTrend_name=Confirm trend with MA
param_ConfirmTrend_description=Defines whether to confirm the MACD signal with the Moving Average trend.
param_MN_name=MA trend periods
param_MN_description=The number of periods for the MA trend.
param_TF_name=Timeframe
param_SetLimit_name=Set limit order
param_Limit_name=Limit in pips
param_SetStop_name=Set stop order
param_Stop_name=Stop in pips
param_TrailingStop_name=Trailing stop
assert_NoTicks=The timeframe must not be tick
alert_OpenOrderFailed=Failed to create an open order:
alert_FailedCreateLimitOrStop=Failed to create a limit or stop

[rus]
codepage=1251
name=Пример MACD
description=Классический пример на MACD.
param_MACD_ParamGroup=Параметры индикатора MACD
param_Strategy_ParamGroup=Параметры стратегии
param_Price_ParamGroup=Параметры цены
param_SN_name=Периоды для короткого EMA
param_SN_description=Количество периодов для короткого EMA.
param_LN_name=Периоды для длинного EMA
param_LN_description=Количество периодов для длинного EMA.
param_IN_name=Периоды для сигнальной линии
param_IN_description=Количество периодов для сигнальной линии.
param_MACDOpenLevel_name=Уровень открытия для MACD
param_MACDOpenLevel_description=Минимальный уровень MACD для открытия позиции.
param_MACDCloseLevel_name=Уровень закрытия для MACD
param_MACDCloseLevel_description=Уровень MACD для закрытия позиции.
param_ConfirmTrend_name=Подтвердить тренд с помощью MA
param_ConfirmTrend_description=Определяет, нужно ли подтверждать сигнал MACD с помощью тренда скользящего среднего.
param_MN_name=Периоды для тренда MA
param_MN_description=Количество периодов для тренда скользящего среднего.
param_TF_name=Период
param_SetLimit_name=Установить лимит ордер
param_Limit_name=Лимит в пунктах
param_SetStop_name=Установить стоп ордер
param_Stop_name=Стоп в пунктах
param_TrailingStop_name=Скользящий стоп
assert_NoTicks=Период не должен быть тиковым.
alert_OpenOrderFailed=Не удалось создать открывающий ордер:
alert_FailedCreateLimitOrStop=Не удалось создать лимит или стоп.

[ara]
codepage=1256
name=نموذج المعدل المتحرك للتقارب/للانحراف (MACD)
description=نموذج الكلاسيكي للمؤشر الـ MACD
param_MACD_ParamGroup=ثوابت مؤشر الـ MACD
param_Strategy_ParamGroup=ثوابت الاستراتيجية
param_Price_ParamGroup=سعر الثوابت
param_SN_name=فترات معدل المتوسط المتحرك المضاعف (EMA) للبيع
param_SN_description=عدد فترات معدل المتوسط المتحرك المضاعف (EMA) للبيع
param_LN_name=فترات معدل المتوسط المتحرك المضاعف (EMA) للشراء
param_LN_description=عدد فترات معدل المتوسط المتحرك المضاعف (EMA) للبيع
param_IN_name=فترات خط الإشارة
param_IN_description=عدد الفترات لخط الإشارة.
param_MACDOpenLevel_name=المستوى المفتوح لمؤشر الـ MACD
param_MACDOpenLevel_description=مستوى الحد الأدنى لمؤشر الـ MACD لفتح المركز.
param_MACDCloseLevel_name=مستوى الـ MACD للإغلاق
param_MACDCloseLevel_description=مستوى مؤشر الـ MACD لإغلاق المركز.
param_ConfirmTrend_name=تأكيد الاتجاه مع المتحرك المتوسط
param_ConfirmTrend_description=تحدد ما إذا كان سيتم تأكيد إشارة الـ MACD مع اتجاه المتوسط المتحرك.
param_MN_name=فترات الاتجاه للمتوسط المتحرك
param_MN_description=عدد الفترات فترات الاتجاه للمتوسط المتحرك
param_TF_name=الإطار الزمني
param_SetLimit_name=تحديد أمر الحد
param_Limit_name=أمر الحد بالنقاط
param_SetStop_name=تحديد أمر الإيقاف
param_Stop_name=أمر الإيقاف بالنقاط
param_TrailingStop_name=الإيقاف المتحرك
assert_NoTicks=يجب أن لا تكون الفترة الزمنية من نوع "تيك"
alert_OpenOrderFailed=لم ينجح في إنشاء أمر مفتوح:
alert_FailedCreateLimitOrStop=لم ينجح في إنشاء أمر الحد أو أمر إيقاف

[chs]
codepage=936
name=MACD Sample
description=Classic MACD sample.
param_MACD_ParamGroup=MACD指标参数
param_Strategy_ParamGroup=策略参数
param_Price_ParamGroup=价格参数
param_SN_name=短EMA时期
param_SN_description=短EMA时期数目
param_LN_name=长EMA时期
param_LN_description=长EMA时期数目
param_IN_name=信号线时期
param_IN_description=信号线时期数目
param_MACDOpenLevel_name=MACD开仓水平
param_MACDOpenLevel_description=最低MACD开仓水平
param_MACDCloseLevel_name=MACD平仓水平
param_MACDCloseLevel_description=MACD平仓水平
param_ConfirmTrend_name=以MA确认趋势
param_ConfirmTrend_description=定义是否使用移动平均趋势确定MACD信号
param_MN_name=MA趋势时期
param_MN_description=MA趋势时期
param_TF_name=时间范围
param_SetLimit_name=设定限价
param_Limit_name=以点数计算限价
param_SetStop_name=设定止损
param_Stop_name=以点数计算止损
param_TrailingStop_name=移动止损
assert_NoTicks=不得点选时间范围
alert_OpenOrderFailed=建立市价单失败
alert_FailedCreateLimitOrStop=建立限价或止损失败

[cht]
codepage=950
name=MACD Sample
description=Classic MACD sample.
param_MACD_ParamGroup=MACD指標參數
param_Strategy_ParamGroup=策略參數
param_Price_ParamGroup=價格參數
param_SN_name=短EMA時期
param_SN_description=短EMA時期數目
param_LN_name=長EMA時期
param_LN_description=長EMA時期數目
param_IN_name=信號線時期
param_IN_description=信號線時期數目
param_MACDOpenLevel_name=MACD開倉水平
param_MACDOpenLevel_description=最低MACD開倉水平
param_MACDCloseLevel_name=MACD平倉水平
param_MACDCloseLevel_description=MACD平倉水平
param_ConfirmTrend_name=以MA確認趨勢
param_ConfirmTrend_description=定義是否使用移動平均趨勢確定MACD信號
param_MN_name=MA趨勢時期
param_MN_description=MA趨勢時期
param_TF_name=時間範圍
param_SetLimit_name=設定限價
param_Limit_name=以點數計算限價
param_SetStop_name=設定止損
param_Stop_name=以點數計算止損
param_TrailingStop_name=移動止損
assert_NoTicks=不得點選時間範圍
alert_OpenOrderFailed=建立市價單失敗
alert_FailedCreateLimitOrStop=建立限價或止損失敗

[cze]
codepage=1250
name=Příklad MACD
description=Klasický příklad MACD.
param_MACD_ParamGroup=Parametry indikátoru MACD
param_Strategy_ParamGroup=Parametry strategie
param_Price_ParamGroup=Parametry ceny
param_SN_name=Perioda krátkého EMA
param_SN_description=Počet period pro krátký EMA
param_LN_name=Perioda dlouhého EMA
param_LN_description=Počet period pro dlouhý EMA
param_IN_name=Perioda signální linky
param_IN_description=Počet period signální linky.
param_MACDOpenLevel_name=Otevírací úroveň MACD
param_MACDOpenLevel_description=Minimální úroveň MACD pro otevření pozice.
param_MACDCloseLevel_name=Závěrečná úroveň MACD
param_MACDCloseLevel_description=Úroveň MACD pro zavření pozice.
param_ConfirmTrend_name=Potvrdit trend pomocí MA
param_ConfirmTrend_description=Určuje, zda signál MACD bude potvrzen klouzavým průměrem.
param_MN_name=Perioda MA
param_MN_description=Počet period pro trend MA.
param_TF_name=Časové rozpětí
param_SetLimit_name=Nastavit limitní pokyn
param_Limit_name=Limit v pipech
param_SetStop_name=Nastavit stop pokyn
param_Stop_name=Stop v pipech
param_TrailingStop_name=Trailing stop
assert_NoTicks=Časové rozpětí nesmí být tick
alert_OpenOrderFailed=Vytvoření otevřeného pokynu se nezdařilo.
alert_FailedCreateLimitOrStop=Vytvoření limitu nebo stopu se nezdařilo.

[deu]
codepage=1252
name=MACD Sample
description=Classic MACD sample.
param_MACD_ParamGroup=MACD Indikator Parameter
param_Strategy_ParamGroup=Strategie Parameter
param_Price_ParamGroup=Preis Parameter
param_SN_name=Short EMA Perioden
param_SN_description=Die Anzahl der Perioden für den Short EMA
param_LN_name=Long EMA Perioden
param_LN_description=Die Anzahl der Perioden für den Long EMA
param_IN_name=Signal Linien Perioden
param_IN_description=Die Anzahl der Perioden für die Signal Linie
param_MACDOpenLevel_name=MACD open Level
param_MACDOpenLevel_description=Der minimale MACD Level um eine Position zu eröffnen
param_MACDCloseLevel_name=MACD close Level
param_MACDCloseLevel_description=Der MACD Level um eine Position zu schließen
param_ConfirmTrend_name=Bestätigen Sie den Trend mit MA
param_ConfirmTrend_description=Definiert ob das MACD Signal mit dem Moving Average Trend bestätigt werden soll
param_MN_name=MA Trend Perioden
param_MN_description=Die Anzahl der Perioden für den MA Trend
param_TF_name=Zeit Frame
param_SetLimit_name=Setze Limit Order
param_Limit_name=Limit in Pips
param_SetStop_name=Setze Stop Order
param_Stop_name=Stop in Pips
param_TrailingStop_name=Trailing Stop
assert_NoTicks=Der Zeit Frame darf nicht Tick sein
alert_OpenOrderFailed=Fehlgeschlagen, eine Open Order zu erzeugen
alert_FailedCreateLimitOrStop=Fehlgeschlagen, einen Limit oder Stop zu erzeugen

[fra]
codepage=1252
name=Exemple de MACD
description=Exemple de MACD classique
param_MACD_ParamGroup=Paramètres d'indicateur MACD
param_Strategy_ParamGroup=Paramètres de stratégie
param_Price_ParamGroup=Paramètres de prix
param_SN_name=Périodes pour EMA courte
param_SN_description=Le nombre de périodes pour la EMA courte
param_LN_name=Périodes pour EMA longue
param_LN_description=Le nombre de périodes pour EMA longue
param_IN_name=Périodes de ligne de signal
param_IN_description=Le nombre de périodes pour la ligne de signal
param_MACDOpenLevel_name=Niveau d'ouverture du MACD
param_MACDOpenLevel_description=Le niveau minimal du MACD pour l'ouverture d'une position
param_MACDCloseLevel_name=Niveau de fermeture MACD
param_MACDCloseLevel_description=Le niveau de MACD pour la fermeture d'une position
param_ConfirmTrend_name=Confirmer tendance avec MA
param_ConfirmTrend_description=Définit s'il faut confirmer le signal MACD avec une tendance de moyenne mobile
param_MN_name=Périodes de tendance MA
param_MN_description=Le nombre de périodes pour la tendance MA
param_TF_name=Unité de temps
param_SetLimit_name=Placer ordre limite
param_Limit_name=Limite en pips
param_SetStop_name=Placer ordre stop
param_Stop_name=Stop en pips
param_TrailingStop_name=Stop suiveur
assert_NoTicks=L'unité de temps ne doit pas être en tick
alert_OpenOrderFailed=Echec à créer un ordre ouvert:
alert_FailedCreateLimitOrStop=Echec à créer une limite ou un stop

[gre]
codepage=1253
name=Υπόδειγμα MACD
description=Κλασικό υπόδειγμα MACD.
param_MACD_ParamGroup=Παράμετροι δείκτη MACD
param_Strategy_ParamGroup=Παράμετροι Στρατηγικής
param_Price_ParamGroup=Παράμετροι Τιμής
param_SN_name=Περίοδοι πώλησης ΕΜΑ
param_SN_description=Ο αριθμός των περιόδων για την πώληση του ΕΜΑ.
param_LN_name=Περίοδοι αγοράς ΕΜΑ
param_LN_description=Ο αριθμός των περιόδων για την αγορά του ΕΜΑ.
param_IN_name=Περίοδοι γραμμής σήματος
param_IN_description=Ο αριθμός των περιόδων για τη γραμμή σήματος.
param_MACDOpenLevel_name=Επίπεδο ανοίγματος MACD
param_MACDOpenLevel_description=Το ελάχιστο επίπεδο του MACD για το άνοιγμα θέσης.
param_MACDCloseLevel_name=Επίπεδο κλεισίματος MACD
param_MACDCloseLevel_description=Το επίπεδο του MACD για το κλείσιμο της θέσης.
param_ConfirmTrend_name=Επιβεβαίωση τάσης με ΜΑ
param_ConfirmTrend_description=Καθορίζει εάν θα επιβεβαιωθεί το σήμα του MACD με την τάση του Κινητού Μέσου Όρου (ΜΑ).
param_MN_name=Περίοδοι τάσης ΜΑ
param_MN_description=Ο αριθμός των περιόδων για την τάση ΜΑ.
param_TF_name=Χρονικό Πλαίσιο
param_SetLimit_name=Τοποθέτηση εντολής limit
param_Limit_name=Εντολή limit σε pips
param_SetStop_name=Τοποθέτηση εντολής stop
param_Stop_name=Εντολή stop σε pips
param_TrailingStop_name=Κυλιόμενο stop
assert_NoTicks=Το χρονικό πλαίσιο δε πρέπει να είναι σε tick
alert_OpenOrderFailed=Αποτυχία δημιουργίας εντολής ανοίγματος:
alert_FailedCreateLimitOrStop=Αποτυχία δημιουργίας εντολής limit ή stop

[heb]
codepage=1255
name=דגימת MACD
description=דגימת MACD קלאסית
param_MACD_ParamGroup=משתני אינדיקטור MACD
param_Strategy_ParamGroup=משתני האסטרטגיה
param_Price_ParamGroup=משתני מחיר
param_SN_name=תקופות EMA קצר
param_SN_description=מספר התקופות עבור ה-EMA הקצר.
param_LN_name=תקופות EMA ארוך
param_LN_description=מספר התקופות עבור ה-EMA הארוך.
param_IN_name=תקופות האיתות
param_IN_description=מספר תקופות האיתות.
param_MACDOpenLevel_name=רמת MACD לפתיחה
param_MACDOpenLevel_description=רמת ה-MACD המינימלית עבור פתיחת פוזיציה
param_MACDCloseLevel_name=רמת MACD לסגירה
param_MACDCloseLevel_description=רמת ה-MACD המינימלית עבור סגירת פוזיציה
param_ConfirmTrend_name=אישוש מגמה עם MA
param_ConfirmTrend_description=מגדיר האם לאשש את האיתות של ה-MACD עם המגמה על פי הממוצע הנע.
param_MN_name=תקופת מגמת ה-MA
param_MN_description=מספר התקופות עבור מגמת ה-MA.
param_TF_name=מסגרת זמן
param_SetLimit_name=הגדר הוראת לימיט
param_Limit_name=לימיט בפיפסים
param_SetStop_name=הגדר הוראת סטופ
param_Stop_name=סטופ בפיפסים
param_TrailingStop_name=סטופ מזדנב
assert_NoTicks=אסור שמסגרת הזמן תהיה טיקים
alert_OpenOrderFailed=לא ניתן היה לפתוח את ההוראה:
alert_FailedCreateLimitOrStop=לא ניתן היה ליצור סטופ או לימיט.

[ita]
codepage=1252
name=Esempio di MACD
description=Esempio di MACD classico
param_MACD_ParamGroup=Parametri dell'indicatore MACD
param_Strategy_ParamGroup=Parametri della strategia
param_Price_ParamGroup=Parametri del prezzo
param_SN_name=Periodi dell'EMA di breve periodo
param_SN_description=Il numero di periodi dell'EMA di breve
param_LN_name=Periodi dell'EMA di lungo periodo
param_LN_description=Il numero di periodi dell'EMA di lungo
param_IN_name=Periodi della Signal Line
param_IN_description=Il numero di periodi della Signal Line
param_MACDOpenLevel_name=Livello di apetura del MACD
param_MACDOpenLevel_description=Il livello minimo del MACD per aprire una posizione
param_MACDCloseLevel_name=Livello di chiusura del MACD
param_MACDCloseLevel_description=Il livello del MACD per chiudere una posizione
param_ConfirmTrend_name=Conferma il trend con MA
param_ConfirmTrend_description=Definisce se confermare il segnale del MACD con il trend della Moving Average
param_MN_name=Periodi del trend della MA
param_MN_description=Il numero di periodi per il trend della MA
param_TF_name=Timeframe
param_SetLimit_name=Imposta ordine limit
param_Limit_name=Limit in pip
param_SetStop_name=Imposta ordine stop
param_Stop_name=Stop in pip
param_TrailingStop_name=Trailing stop
assert_NoTicks=Il timeframe non può essere il tick
alert_OpenOrderFailed=Errore nella crezione di un ordine di apertura
alert_FailedCreateLimitOrStop=Errore nella crezione di un ordine limit o stop

[jpn]
codepage=932
name=MACD サンプル
description=一般的なMACD使用例です。
param_MACD_ParamGroup=MACD インディケーターパラメーター
param_Strategy_ParamGroup=ストラテジー パラメーター
param_Price_ParamGroup=プライス パラメーター
param_SN_name=ショート EMA 期間
param_SN_description=ショート EMAの足数
param_LN_name=ロング EMAの足数
param_LN_description=ロング EMAの足数
param_IN_name=シグナルライン期間
param_IN_description=シグナルラインの期間数.
param_MACDOpenLevel_name=MACD オープンレベル
param_MACDOpenLevel_description=ポジションを建てる最低レベルのＭＡＣD
param_MACDCloseLevel_name=MACD クローズレベル
param_MACDCloseLevel_description=ポジションを閉じるレベルのＭＡＣD
param_ConfirmTrend_name=MAのトレンドを確認する
param_ConfirmTrend_description=ＭＡＣＤのシグナルをＭＡのトレンドで確認するかどうかを指定する
param_MN_name=MA トレンド期間
param_MN_description=MA トレンド期間数
param_TF_name=時間軸
param_SetLimit_name=リミット注文をセット
param_Limit_name=リミット（ピップ）
param_SetStop_name=ストップ注文をセット
param_Stop_name=ストップ（ピップ）
param_TrailingStop_name=トレイルストップ
assert_NoTicks=時間軸にティックは設定できません
alert_OpenOrderFailed=新規注文を作成できませんでした
alert_FailedCreateLimitOrStop=リミット注文を作成できませんでした

[tur]
codepage=1254
name=MACD Örneği
description=Klasik MACD örneği.
param_MACD_ParamGroup=MACD gösterge parametreleri
param_Strategy_ParamGroup=Strateji Parametreleri
param_Price_ParamGroup=Fiyat Parametreleri
param_SN_name=Kısa ÜHO (EMA) periyotları
param_SN_description=Kısa ÜHO (EMA) için periyotların sayısı
param_LN_name=Uzun ÜHO (EMA) periyotları
param_LN_description=Uzun ÜHO (EMA) için periyotların sayısı
param_IN_name=Sinyal çizgi periyotları
param_IN_description=Sinyal çizgisi için periyotların sayısı
param_MACDOpenLevel_name=MACD açılış seviyesi
param_MACDOpenLevel_description=Pozisyon açmak için minimum MACD seviyesi.
param_MACDCloseLevel_name=MACD kapanış seviyesi
param_MACDCloseLevel_description=Pozisyonu kapatmak için MACD seviyesi.
param_ConfirmTrend_name=Trendi HO (MA) ile doğrula
param_ConfirmTrend_description=MACD sinyalinin Hareketli Ortalama trendi ile doğrulanıp doğrulanmayacağını belirler.
param_MN_name=HO (MA) trend periyotları
param_MN_description=HO (MA) trendi için periyotların sayısı
param_TF_name=Zaman dilimi
param_SetLimit_name=Limit emrini belirle
param_Limit_name=Pip cinsinden limit
param_SetStop_name=Stop emrini belirle
param_Stop_name=Pip cinsinden stop
param_TrailingStop_name=İzsüren stop
assert_NoTicks=Zaman dilimi tik verisi olmamalı
alert_OpenOrderFailed=Açık emir oluşturulamadı:
alert_FailedCreateLimitOrStop=Limit ya da stop emri oluşturulamadı

[esp]
codepage=1252
name=Muestra MACD
description=Muestra clásica MACD
param_MACD_ParamGroup=Indicador de parámetros MACD
param_Strategy_ParamGroup=Parametro de Estrategia
param_Price_ParamGroup=Parámetros de Precio
param_SN_name=Periodos Cortos EMA
param_SN_description=El numero de periodos cortos EMA.
param_LN_name=Peridos largos EMA
param_LN_description=El numero de periodos para la compra EMA.
param_IN_name=Periodos de señal de línea
param_IN_description=El numero de periodos para la señal de la línea.
param_MACDOpenLevel_name=Nivel de apertura MACD
param_MACDOpenLevel_description=El mínimo nivel de MACD para abrir una posición
param_MACDCloseLevel_name=Nivel de cierre MACD
param_MACDCloseLevel_description=Nivel para cerrar una posición de MACD
param_ConfirmTrend_name=Confirmar tendencia con MA
param_ConfirmTrend_description=Define para confirmar la señal de MACD con el método de promedio móvil
param_MN_name=Periodos de tendencia MA
param_MN_description=El numero de periodos para la tendencia MA
param_TF_name=Marco de Tiempo
param_SetLimit_name=Establecer una orden de limite
param_Limit_name=Limite en pips
param_SetStop_name=Establecer una orden de Stop
param_Stop_name=Stop en pips
param_TrailingStop_name=Stop fluctuante
assert_NoTicks=El marco de tiempo no puede ser un tick
alert_OpenOrderFailed=No se pudo abrir una orden
alert_FailedCreateLimitOrStop=No se pudo crear un limite o stop.

[pol]
codepage=1250
name=Próbka MACD
description=Klasyczna próbka MACD
param_MACD_ParamGroup=Parametry wskaźnika MACD
param_Strategy_ParamGroup=Parametry strategii
param_Price_ParamGroup=Parametry ceny
param_SN_name=Okresy krótkiego EMA
param_SN_description=Liczba okresów dla krótkiego EMA
param_LN_name=Okresy długiego EMA
param_LN_description=Liczba okresów dla długiego EMA
param_IN_name=Okresy lini sygnału
param_IN_description=Liczba okresów dla lini sygnału
param_MACDOpenLevel_name=Otwarty poziom MACD
param_MACDOpenLevel_description=Minimalny poziom MACD do otwarcia pozycji
param_MACDCloseLevel_name=Poziom zamknięcia MACD
param_MACDCloseLevel_description=Poziom MACD do zamknięcia pozycji
param_ConfirmTrend_name=Sprawdzenie trendów z MA
param_ConfirmTrend_description=Określa czy potwierdzić sygnał MACD z trendem Średniej Kroczącej (MA)
param_MN_name=Okresy trendu MA
param_MN_description=Liczba okresów dla trendu MA
param_TF_name=Rama czasowa
param_SetLimit_name=Określ limit zlecenia
param_Limit_name=Limit w czasie sygnału
param_SetStop_name=Określ zlecenie zatrzymania
param_Stop_name=Stop w czasie sygnału
param_TrailingStop_name=Zatrzymanie śledzenia
assert_NoTicks=Rama czasowa nie może być odznaczona
alert_OpenOrderFailed=Nie udało się stworzyć otwartego zlecenia:
alert_FailedCreateLimitOrStop=Nie udało się stworzyć limitu lub zatrzymania

[por]
codepage=1252
name=Amostra MACD (Convergência/Divergência de Médias Móveis)
description=Amostra MACD clássica.
param_MACD_ParamGroup=Parâmetros do indicador MACD
param_Strategy_ParamGroup=Parâmetros de Estratégia
param_Price_ParamGroup=Parâmetros de Preço
param_SN_name=Períodos EMA (Média Móvel Exponencial) curtos
param_SN_description=O número de períodos para o EMA curto.
param_LN_name=Períodos EMA longos
param_LN_description=O número de períodos para o EMA longo.
param_IN_name=Períodos da linha de sinal
param_IN_description=O número de períodos da linha de sinal.
param_MACDOpenLevel_name=Nível aberto MACD
param_MACDOpenLevel_description=O nível MACD mínimo para a abertura de uma posição.
param_MACDCloseLevel_name=Nível de fecho MACD
param_MACDCloseLevel_description=O nível MACD para o fecho de uma posição.
param_ConfirmTrend_name=Confirmar tendência com MA
param_ConfirmTrend_description=Define se deve confirmar o sinal MACD com a tendência Média Móvel.
param_MN_name=Períodos de tendência MM
param_MN_description=O número de períodos da tendência da MM.
param_TF_name=Prazo
param_SetLimit_name=Definir ordem limite
param_Limit_name=Limite em pips
param_SetStop_name=Definir ordem stop
param_Stop_name=Stop em pips
param_TrailingStop_name=Stop móvel
assert_NoTicks=O prazo não pode ser tick
alert_OpenOrderFailed=Erro ao criar uma ordem de abertura:
alert_FailedCreateLimitOrStop=Erro ao criar um limite ou stop

[hun]
codepage=0
name=MACD példa
description=Klasszikus MACD példa
param_MACD_ParamGroup=MACD indikátor beállítások
param_Strategy_ParamGroup=Stratégia beállítások
param_Price_ParamGroup=Árfolyam beállítások
param_SN_name=Short EMA beállításai
param_SN_description=A short EMA periódusainak beállítása
param_LN_name=Long EMA beállításai
param_LN_description=A long EMA periódusainak beállítása
param_IN_name=Szignálvonal beállítása
param_IN_description=A szignálvonal periódusának beállítása.
param_MACDOpenLevel_name=MACD nyitószint
param_MACDOpenLevel_description=Pozíciónyitás esetén a minimum MACD szint.
param_MACDCloseLevel_name=MACD záró szint
param_MACDCloseLevel_description=MACD szint pozíciózárás esetén.
param_ConfirmTrend_name=Trend megerősítése mozgóátlaggal
param_ConfirmTrend_description=Meghatározza, hogy a mozgóátlag megerősíti-e az MACD szignálvonal jelzését.
param_MN_name=Mozgóátlag periódusa
param_MN_description=A mozgóátlag periódusainak száma.
param_TF_name=Idősík:
param_SetLimit_name=Limitmegbízás beállítása
param_Limit_name=Limit Pip-ekben
param_SetStop_name=Stop megbízás beállítása
param_Stop_name=Stop Pip-ekben
param_TrailingStop_name=Trailing Stop
assert_NoTicks=Az idősík nem lehet tick alapú.
alert_OpenOrderFailed=Megbízás végrehajtásának meghiúsulása
alert_FailedCreateLimitOrStop=Stop vagy limit megbízás végrehajtásának meghiúsulása

