include=common.lua.rc
default=enu
[enu]
codepage=1252
R_Name=Margin Alert Signal
R_Description=Signals with a sound or an e-mail when the margin falls below one of the specified levels.
R_AllAccounts=All accounts
R_AllAccountsParam=Watch margin on all accounts
R_AllAccountsDesc=If Yes, the margin will be watched on all accounts, otherwise, one of the accounts should be selected.
R_AcctParam=Account to watch
R_AcctDesc=The alert will work for the specified account.
R_UpdateInterval=Check margin interval, sec
R_UpdateIntervalDesc=How often the margin will be checked, time in seconds.
R_LevelGroup=Level
R_UseLevel=Use this level
R_UseLevelDesc=If Yes, a margin alert is calculated for this level.
R_LevelValue=Margin level
R_LevelValueDesc=Level of margin to check.
R_CheckType=Level expressed in
R_CheckTypeDesc=Choose whether the level is expressed in percentage of the account equity or in the account currency.
R_CheckTypePercents=Percentage
R_CheckTypeAmount=Account currency
R_AlertMessage=Account %s usable margin is below %s. Deposit funds or close positions to increase the usable margin. Change or turn off this margin alert on the chart Strategies menu.
R_EmailSubject=Margin Alert
R_AlertHoldoffTimer=Alert timeout, min
R_AlertHoldoffTimerDesc=An alert will not be displayed more than once in the specified period in minutes.
R_StopAlert=Stop Signal
R_StopAlertDescr= Stop the signal that generated this alert

[rus]
codepage=1251
R_Name=Сигнал предупреждения маржи
R_Description=Дает звуковой сигнал или отправляет письмо, когда маржа опускается ниже одного из указанных уровней.
R_AllAccounts=Все счета
R_AllAccountsParam=Отслеживать маржу на всех счетах
R_AllAccountsDesc=Если Да, маржа будет отслеживаться на всех счетах, в противном случае, необходимо указать один из счетов.
R_AcctParam=Отслеживать счет
R_AcctDesc=Сигнал будет работать для указанного счета.
R_UpdateInterval=Интервал проверки маржи, сек.
R_UpdateIntervalDesc=Как часто будет проверяться маржа, время в секундах.
R_LevelGroup=Уровень
R_UseLevel=Использовать этот уровень
R_UseLevelDesc=Если Да, сигнал рассчитывается для этого уровня.
R_LevelValue=Уровень маржи
R_LevelValueDesc=Уровень маржи для проверки.
R_CheckType=Уровень в
R_CheckTypeDesc=Выберите, в чем задавать уровень - в процентах от плавающего баланса или в валюте счета.
R_CheckTypePercents=Процентах
R_CheckTypeAmount=Валюте счета
R_AlertMessage=Свободная маржа счета %s меньше %s. Внесите средства на счет или закройте позиции, чтобы увеличить свободную маржу. Измените или отключите это уведомление из меню Стратегии графика.
R_EmailSubject=Предупреждение маржи
R_AlertHoldoffTimer=Таймаут уведомления, мин.
R_AlertHoldoffTimerDesc=Уведомление не будет показываться чаще, чем один раз, за указанный период в минутах.
R_StopAlert=Выключить уведомление
R_StopAlertDescr=

[ara]
codepage=1256
R_Name=إشارة تنبيه الهامش
R_Description=إشارات صوتية أو بواسطة البريد إلكتروني عندما يكون الهامش أقل من أحد المستويات المحددة.
R_AllAccounts=كل الحسابات
R_AllAccountsParam=متابعة الهامش على جميع الحسابات
R_AllAccountsDesc=إذا كانت الإجابة نعم، سوف يتم متابعة الهامش على جميع الحسابات، وإلا، يجب اختيار أحد الحسابات.
R_AcctParam=حساب يتم متابعته
R_AcctDesc=سوف يعمل التنبيه لحساب محدد.
R_UpdateInterval=الاختيار ابعاد الهامش، بالثواني
R_UpdateIntervalDesc=عدد المرات التي سيتم التحقق بها من الهامش، الوقت بالثواني.
R_LevelGroup=المستوى
R_UseLevel=استخدام هذا المستوى
R_UseLevelDesc=إذا كانت الإجابة نعم، سيتم حساب هامش التنبيه لهذا المستوى.
R_LevelValue=مستوى الهامش
R_LevelValueDesc=مستوى الهامش الذي سيتم التحقق منه.
R_CheckType=المستوى معبر عنه بـ
R_CheckTypeDesc=اختيار ما إذا كان سيتم التعبير عن المستوى حسب النسبة المئوية من قيمة الحساب أو في حساب العملة.
R_CheckTypePercents=النسبة المئوية
R_CheckTypeAmount=حساب العملات
R_AlertMessage=الهامش المتاح للحساب %s تحت %s. قم بتمويل حسابك أو إغلاق المراكز لزيادةالهامش المتاح. تستطيع تغير أو إيقاف تنبيه المارجن في قائمة الاستراتيجيات الموجودة في الرسم البياني.
R_EmailSubject=هامش التنبيه
R_AlertHoldoffTimer=مهلة التنبيه، بالدقائق
R_AlertHoldoffTimerDesc=لن يتم عرض التنبيه أكثر من مرة في الفترة المحددة بالدقائق.
R_StopAlert=إيقاف الإشارات
R_StopAlertDescr=إيقاف الإشارة التي أدت إنشاء هذا التنبيه

[chs]
codepage=936
R_Name=保证金警示信号
R_Description=当保证金低于指定水平, 信号会发出声音或电邮
R_AllAccounts=所有账户
R_AllAccountsParam=监察所有账户
R_AllAccountsDesc=如是, 所有账户的保证金将被监察, 否则, 应该选择其中一个账户
R_AcctParam=被监察账户
R_AcctDesc=警示将对指定账户工作
R_UpdateInterval=检查保证金水平, 秒
R_UpdateIntervalDesc=多久保证金将被检查, 时间以秒计
R_LevelGroup=水平
R_UseLevel=使用该水平
R_UseLevelDesc=如是, 保证金警示以该水平被计算
R_LevelValue=保证金水平
R_LevelValueDesc=保证金检查水平
R_CheckType=水平表达方式
R_CheckTypeDesc=选择是以账户净值百分或货币形式来体现该水平
R_CheckTypePercents=百分比
R_CheckTypeAmount=账户货币
R_AlertMessage=账户%s可用保证金低于 %s。存款或通过平仓来增加可用保证金。于图中策略选项编辑或取消该该保证金提醒
R_EmailSubject=保证金警示
R_AlertHoldoffTimer=警示超时, 分钟
R_AlertHoldoffTimerDesc=在指定的分钟内, 警示将不会被显示多于一次
R_StopAlert=停止信号
R_StopAlertDescr=停止产生警示的信号

[cht]
codepage=950
R_Name=保證金警示信號
R_Description=當保證金低於指定水平, 信號會發出聲音或電郵
R_AllAccounts=所有賬戶
R_AllAccountsParam=監察所有賬戶
R_AllAccountsDesc=如是, 所有賬戶的保證金將被監察, 否則, 應該選擇其中一個賬戶
R_AcctParam=被監察賬戶
R_AcctDesc=警示將對指定賬戶工作
R_UpdateInterval=檢查保證金水平, 秒
R_UpdateIntervalDesc=多久保證金將被檢查, 時間以秒計
R_LevelGroup=水平
R_UseLevel=使用該水平
R_UseLevelDesc=如是, 保證金警示以該水平被計算
R_LevelValue=保證金水平
R_LevelValueDesc=保證金檢查水平
R_CheckType=水平表達方式
R_CheckTypeDesc=選擇是以賬戶淨值百分或貨幣形式來體現該水平
R_CheckTypePercents=百分比
R_CheckTypeAmount=賬戶貨幣
R_AlertMessage=賬戶%s可用保證金低於 %s。存款或通過平倉來增加可用保證金。於圖中策略選項編輯或取消該該保證金提醒
R_EmailSubject=保證金警示
R_AlertHoldoffTimer=警示超時, 分鐘
R_AlertHoldoffTimerDesc=在指定的分鐘內, 警示將不會被顯示多於一次
R_StopAlert=停止信號
R_StopAlertDescr=停止產生警示的信號

[cze]
codepage=1250
R_Name=Signál pro disponibilní zůstatek
R_Description=Signál, který přehraje zvuk, nebo zašle e-mail, pokud klesne disponibilní zůstatek pod stanovenou hranici
R_AllAccounts=Všechny účty
R_AllAccountsParam=Sledovat zajištění u všech účtů
R_AllAccountsDesc=Pokud ano, zajištění bude sledováno u všech účtů. Jinak bude vybrán jeden účet.
R_AcctParam=Sledovaný účet
R_AcctDesc=Alert bude funkční pro zvolený účet.
R_UpdateInterval=Sledovat hodnotu zajištění v sek.
R_UpdateIntervalDesc=Jak často bude zajištění sledováno, čas v sekundách.
R_LevelGroup=Úroveň
R_UseLevel=Použít tuto úroveň
R_UseLevelDesc=Pokud ano, alert pro zajištění je pro tuto úroveň nastaven.
R_LevelValue=Úroveň zajištění
R_LevelValueDesc=Úroveň zajištění pro sledování.
R_CheckType=Úroveň vyjádřena v
R_CheckTypeDesc=Zvolte, zda je úroveň vyjádřena v procentech nebo v měně účtu.
R_CheckTypePercents=Procento
R_CheckTypeAmount=Měna účtu
R_AlertMessage=Využitelné zajištění na účtu %s je pod %s. Vložte finanční prostředky nebo zavřete pozice, abyste navýšili využitelné zajištění. Změňte nebo vypněte toto upozornění na zajištění v menu Signálů.
R_EmailSubject=Alert pro zajištění
R_AlertHoldoffTimer=Platnost alertu, v min.
R_AlertHoldoffTimerDesc=Alert nebude zobrazován ve zvolené periodě v minutách více než jednou.
R_StopAlert=Stop signál
R_StopAlertDescr=Zastavit signál, který generuje tento alert

[deu]
codepage=1252
R_Name=Margin Alarm Signal
R_Description=Signal mit einem Ton oder einem E-Mail sobald die Margin unter einen spezifizierten Level fällt
R_AllAccounts=Alle Konten
R_AllAccountsParam=Margin aller Konten ansehen
R_AllAccountsDesc=Falls Ja, Margin wird beachtet auf allen Konten, ansonsten sollte eines der Konten selektiert werden.
R_AcctParam=Nachzuverfolgendes Konto
R_AcctDesc=Der Alarm funktioniert für das angegebene Konto
R_UpdateInterval=Überprüfen Sie das Margin Intervall, Sekunden
R_UpdateIntervalDesc=Wie häufig die Margin überprüft wird, Zei in Sekunden
R_LevelGroup=Level
R_UseLevel=Benutzen Sie dieses Level
R_UseLevelDesc=Falls Ja, ein Margin Alarm wird brechnet für dieses Level.
R_LevelValue=Margin Level
R_LevelValueDesc=Level der Margin zum Überprüfen
R_CheckType=Level ausgedrückt in
R_CheckTypeDesc=Wählen Sie ob das Level ausgedrückt werden soll in Prozent des Kontoguthabens oder in der Kontowährung
R_CheckTypePercents=Prozent
R_CheckTypeAmount=Kontowährung
R_AlertMessage=Konto %s verfügbare Margin ist unter %s. Überweisen Sie zusätzliche Gelder oder schließen Sie Positionen um die verfügbare Margin zu erhöhen. Sie können diesen Margin Alarm im Chart Strategie Menü abschalten.
R_EmailSubject=Margin Alarm
R_AlertHoldoffTimer=Alarm Abschaltung, Minuten
R_AlertHoldoffTimerDesc=Ein Alarm wird nicht öfter als einmal in der angegebenen Periode in Minuten angezeigt.
R_StopAlert=Stop Signal
R_StopAlertDescr=Stoppen Sie das Signal das diesen Alarm ausgelöst hat

[fra]
codepage=1252
R_Name=Signal d'alerte sur la marge
R_Description=Signale avec un son ou un email lorsque la marge chute en dessous de niveaux spécifiques
R_AllAccounts=Tous les comptes
R_AllAccountsParam=Surveiller la marge sur tous les comptes
R_AllAccountsDesc=Si oui, la marge sera surveillée sur tous les comptes, autrement, sinon l'un des comptes soit être sélectionné
R_AcctParam=Compte à surveiller
R_AcctDesc=L'alerte fonctionnera pour le compte spécifié
R_UpdateInterval=Vérifier intervalle de marge, sec
R_UpdateIntervalDesc=Fréquence de surveillance de la marge, temps en secondes
R_LevelGroup=Niveau
R_UseLevel=Utiliser ce niveau
R_UseLevelDesc=Si oui, une alerte de marge sera calculée pour ce niveau
R_LevelValue=Niveau de marge
R_LevelValueDesc=Niveau de marge à vérifier
R_CheckType=Niveau exprimé en
R_CheckTypeDesc=Choisir si le niveau est exprimé en pourcentage du capital du compte ou dans la devise du compte
R_CheckTypePercents=Pourcentage
R_CheckTypeAmount=Devise du compte
R_AlertMessage=Le %s de marge utilisable du compte est en dessous de %s, Déposez des fonds ou fermez des positions pour augmenter votre marge utilisable, Changer ou éteignez cette alerte de marge sur le graphique dans le menu de stratégies
R_EmailSubject=Alerte de marge
R_AlertHoldoffTimer=Délai de pause de l'alerte, min
R_AlertHoldoffTimerDesc=Une alerte ne sera pas affichée plus d'une fois dans le délai défini en minutes
R_StopAlert=Arrêter signal
R_StopAlertDescr=Arrêter le signal qui a généré cette alerte

[gre]
codepage=1253
R_Name=Σήμα Ειδοποίησης Περιθωρίου
R_Description=Ενημερώνει με ένα ήχο ή ένα e-mail όταν το περιθώριο πέφτει κάτω από ένα από τα καθορισμένα επίπεδα.
R_AllAccounts=Όλοι οι λογαριασμοί
R_AllAccountsParam=Παρακολουθήστε το περιθώριο σε όλους τους λογαριασμούς
R_AllAccountsDesc=Εάν ναι, το περιθώριο θα παρακολουθείται σε όλους τους λογαριασμούς, αλλιώς, ένας από τους λογαριασμούς θα πρέπει να επιλεχθεί.
R_AcctParam=Λογαριασμός για παρακολούθηση
R_AcctDesc=Η ειδοποίηση θα δουλέψει για το συγκεκριμένο λογαριασμό.
R_UpdateInterval=Ελέγξτε το χρονικό περιθώριο, δευτερόλεπτα
R_UpdateIntervalDesc=Πόσο συχνά θα ελέγχεται το περιθώριο, ο χρόνος σε δευτερόλεπτα.
R_LevelGroup=Επίπεδο
R_UseLevel=Χρησιμοποιήστε αυτό το επίπεδο
R_UseLevelDesc=Αν ναι, μια ειδοποίηση για το περιθώριο υπολογίζεται για το επίπεδο αυτό.
R_LevelValue=Επίπεδο Περιθωρίου
R_LevelValueDesc=Το επίπεδο του περιθωρίου που θα ελεγχθεί.
R_CheckType=Το επίπεδο εκφράζεται σε
R_CheckTypeDesc=Επιλέξτε εάν το επίπεδο θα εκφράζεται σε ποσοστό επί του κεφαλαίου του λογαριασμό ή στο νόμισμα του λογαριασμού.
R_CheckTypePercents=Ποσοστό
R_CheckTypeAmount=Νόμισμα Λογαριασμού
R_AlertMessage=Το %s του διαθέσιμου κεφαλαίου είναι κάτω από το %s. Καταθέστε χρήματα ή κλείστε θέσεις για να αυξήσετε το διαθέσιμο κεφάλαιο. Αλλάξτε ή απενεργοποιείστε αυτή την ενημέρωση του περιθωρίου από το μενού Στρατηγικές διαγραμμάτων.
R_EmailSubject=Ειδοποίηση Περιθωρίου
R_AlertHoldoffTimer=Λήξη ειδοποίησης, λεπτά
R_AlertHoldoffTimerDesc=Η ειδοποίηση δεν θα εμφανίζεται περισσότερο από μία φορά κατά τη συγκεκριμένη περίοδο σε λεπτά.
R_StopAlert=Σταματήστε το Σήμα
R_StopAlertDescr=Σταματήστε το σήμα που ενεργοποίησε αυτή την ειδοποίηση

[heb]
codepage=1255
R_Name=איתות חוסר בביטחונות
R_Description=מתריע בצליל או באמצעות מייל כאשר הבטחונות יורדים מתחת הרמות המצוינות
R_AllAccounts=כל החשבונות
R_AllAccountsParam=צפה בבטחונות בכל החשבונות
R_AllAccountsDesc=אם כן, הבטחונות בכל החשבונות יהיו תחת מעקב, אחרת, יש לבחור חשבון אחד
R_AcctParam=חשבונות תחת מעקב
R_AcctDesc=ההתראה תועפל עבור החשבון המצוין
R_UpdateInterval=בדוק מרווח בטחונות, שניות
R_UpdateIntervalDesc=באיזו תדירות הביטחונות ייבדקו, בשניות
R_LevelGroup=רמה
R_UseLevel=השתמש ברמה זו
R_UseLevelDesc=אם כן, התראת בטחונות תחושב עבור רמה זו
R_LevelValue=רמת בטחונות
R_LevelValueDesc=רמת הבטחונות שיש לבדוק
R_CheckType=רמה מבוטאת ב
R_CheckTypeDesc=בחר האם הרמה מבוטאת במונחי אחוזים מהון החשבון או במטבע החשבון
R_CheckTypePercents=אחוז
R_CheckTypeAmount=מטבע החשבון
R_AlertMessage=הבטחונות המנוצלים %s של החשבון נמוך מ-%s. עליך להפקיד כספים או לסגור פוזיציות כדי להגדיל את הבטחונות. שנה או בטל את התראת הבטחונות הזו בתפריט האסטרטגיות.
R_EmailSubject=התראת בטחונות
R_AlertHoldoffTimer=עבר זמן התראה, דקות
R_AlertHoldoffTimerDesc=לא תוצג יותר מהתראה אחת בפרק הזמן שצוין, בדקות
R_StopAlert=הפסק איתות
R_StopAlertDescr=הפסק את האיתות שמייצר את ההתראה

[ita]
codepage=1252
R_Name=Segnale di allerta margine
R_Description=Segnale sonoro o e-mail quando il margine cade sotto uno dei livelli specificati
R_AllAccounts=Tutti i conti
R_AllAccountsParam=Controlla il margine su tutti i conti
R_AllAccountsDesc=Se si, il margine sarà controllato su tutti i conti, altrimenti, uno dei conti dovrebbe essere selezionato
R_AcctParam=Conto da controllare
R_AcctDesc=L'alert funzionerà per il conto specificato
R_UpdateInterval=Controllo dell'intervallo del margine, sec
R_UpdateIntervalDesc=Quanto spesso il margine verrà controllato, tempo in secondi
R_LevelGroup=Livello
R_UseLevel=Usa questo livello
R_UseLevelDesc=Se si, un allarme di margine è calcolato per questo livello
R_LevelValue=Livello del margine
R_LevelValueDesc=Livello di controllo del margine
R_CheckType=Livello espresso in
R_CheckTypeDesc=Scegliere se il livello deve essere espresso in percentuale dell'equity del conto o nella valuta del conto
R_CheckTypePercents=Percentuale
R_CheckTypeAmount=Valuta del conto
R_AlertMessage=Il margine utilizzabile del conto %s è sotto %s. Deposita fondi o chiudi alcune posizioni per incrementare il margine utilizzabile. Cambia o disabilita questo allarme di margine nel menù Strategie del grafico.
R_EmailSubject=Allarme margine
R_AlertHoldoffTimer=Timeout dell'allarme, min
R_AlertHoldoffTimerDesc=L'allarme sarà mostrato un unica volta nello specificato periodo in minuti
R_StopAlert=Ferma segnale
R_StopAlertDescr=Ferma il segnale che ha generato questo alert.

[jpn]
codepage=932
R_Name=余剰金額アラートシグナル
R_Description=予め指定した余剰金額割合を下回った際に、シグナルとサウンドを発します。
R_AllAccounts=すべての口座
R_AllAccountsParam=すべての口座の証拠金を監視する
R_AllAccountsDesc=Ｙｅｓならば、すべての口座を監視します、もしくはどれか監視する口座を選んでください
R_AcctParam=監視する口座
R_AcctDesc=指定した口座に対して監視します
R_UpdateInterval=証拠金監視頻度（秒）
R_UpdateIntervalDesc=証拠金再計算間隔（秒）
R_LevelGroup=レベル
R_UseLevel=このレベルを使う
R_UseLevelDesc=Ｙｅｓならば、このレベルで証拠金アラートを出します
R_LevelValue=証拠金レベル
R_LevelValueDesc=証拠金をチェックするレベル
R_CheckType=レベル指定単位
R_CheckTypeDesc=指定するレベルをパーセントもしくは口座の通貨の額で表示する
R_CheckTypePercents=パーセント
R_CheckTypeAmount=口座通貨
R_AlertMessage=口座 %s 余剰金が %s　を下回りました。.証拠金を追加するか、警告が解除される分までポジションを閉じてください。この警告を変更、停止する場合はチャート　ストラテジーメニューへ。
R_EmailSubject=証拠金アラート
R_AlertHoldoffTimer=アラート　タイムアウト（分）
R_AlertHoldoffTimerDesc=指定した期間（分）内では一回を超えての警告はしません。
R_StopAlert=シグナル停止
R_StopAlertDescr=この警告を出した対象のシグナルを停止する

[tur]
codepage=1254
R_Name=Teminat Uyarı Sinyali
R_Description=Teminat belirlenen seviyenin altına indiğinde sesle ya da e-posta ile sinyal verir.
R_AllAccounts=Tüm hesaplar
R_AllAccountsParam=Tüm hesaplarda teminatı izle
R_AllAccountsDesc=Eğer Evetse, tüm hesaplarda teminat izlenecektir aksi halde hesaplardan birini seçmelisiniz.
R_AcctParam=İzlenecek hesap
R_AcctDesc=Uyarı, belirtilen hesap için geçerli olacaktır.
R_UpdateInterval=Teminat aralığını kontrol et, sn
R_UpdateIntervalDesc=Teminatın ne sıklıkla kontrol edileceğini belirtir, zaman saniye cinsinden.
R_LevelGroup=Seviye
R_UseLevel=Bu seviyeyi kullan
R_UseLevelDesc=Eğer Evetse, teminat uyarısı bu seviye için hesaplanacak.
R_LevelValue=Teminat seviyesi
R_LevelValueDesc=Kontrol edilecek teminat seviyesi.
R_CheckType=Seviye ifade biçimi
R_CheckTypeDesc=Seviyenin hesap varlığının yüzdesi olarak mı yoksa hesabın para birimi cinsinden mi ifade edileceğini seçiniz.
R_CheckTypePercents=Yüzde
R_CheckTypeAmount=Hesabın para birimi
R_AlertMessage=Hesabın %s kullanılabilir teminatı %s’in altında. Kullanılabilir teminatı artırmak için fonlama yapın ya da pozisyonları kapatın. Grafiklerdeki Stratejiler menüsünden bu teminat uyarısını kapatabilir ya da değiştirebilirsiniz.
R_EmailSubject=Teminat Uyarısı
R_AlertHoldoffTimer=Uyarı zamanaşımı, dk
R_AlertHoldoffTimerDesc=Dakika cinsinden belirtilen süre geçince uyarı gösterilmeyecektir.
R_StopAlert=Sinyali Durdur
R_StopAlertDescr=Bu uyarının oluşmasına neden olan sinyali durdur

[esp]
codepage=1252
R_Name=Señal de alerta de margen
R_Description=Señales con un sonido o e-mail cuando el margen cae por debajo de uno de los niveles especificados.
R_AllAccounts=Todas las cuentas
R_AllAccountsParam=Ver margen en todas la cuentas
R_AllAccountsDesc=En caso afirmativo, el margen será visto en todas las cuentas, de lo contrario, una de las cuentas debe ser seleccionada.
R_AcctParam=Ver Cuenta
R_AcctDesc=La alerta se ejecutara en la cuenta especifica
R_UpdateInterval=Verificar el margen de intervalo, seg
R_UpdateIntervalDesc=Con que frecuencia el margen será revisado, en segundos.
R_LevelGroup=Nivel
R_UseLevel=Use este nivel
R_UseLevelDesc=En caso afirmativo el margen de alerta es calculado para este nivel.
R_LevelValue=Nivel de margen
R_LevelValueDesc=Nivel de margen para revisar
R_CheckType=Nivel expresado en
R_CheckTypeDesc=Elija si el nivel se muestra en porcentaje de la cuenta o en la moneda de cuenta.
R_CheckTypePercents=Porcentaje
R_CheckTypeAmount=Moneda de la cuenta
R_AlertMessage=Cuenta %s de margen libre es inferior %s Deposite fondos o cierre posiciones para aumentar el margen libre. Cambie o desactive esta alerta de margen en el menú Señales opcion grafico
R_EmailSubject=Margen de señal de alerta
R_AlertHoldoffTimer=Alerta de tiempo de espera, min
R_AlertHoldoffTimerDesc=El aviso no se mostrara mas de una vez en el periodo especificado en minutos
R_StopAlert=Stop Fluctuante
R_StopAlertDescr=Suspender señal que genera esta alerta

[pol]
codepage=1250
R_Name=Margines Ostrzeżenia Sygnałowego
R_Description=Sygnalizuje dźwiękiem lub e-mailem, gdy margines spada poniżej jednego z okreslonych poziomów.
R_AllAccounts=Wszystkie konta
R_AllAccountsParam=Obserwuj margines na wszystkich kontach
R_AllAccountsDesc=Jeśli Tak, margines będzie obserwowany na wszystkich kontach. W przeciwnym razie powinno być wybrane jedno z kont.
R_AcctParam=Konto do obserwacji
R_AcctDesc=Ostrzeżenie będzie działać w odniesieniu do określonego konta.
R_UpdateInterval=Sprawdź interwał marginesu, sec
R_UpdateIntervalDesc=Jak często margines jest sprawdzany, czas w sekundach.
R_LevelGroup=Poziom
R_UseLevel=Użyj tego poziomu
R_UseLevelDesc=Jeśli Tak, ostrzeżenie marginesu będzie wyliczone dla tego poziomu
R_LevelValue=Margines poziomu
R_LevelValueDesc=Poziom marginesu do sprawdzenia.
R_CheckType=Poziom wyrażony w
R_CheckTypeDesc=Wybierz czy poziom ma być wyrażony w procentowej wartości prawa do dywidenty rachunku czy w walucie rachunku.
R_CheckTypePercents=Procent
R_CheckTypeAmount=Waluta rachunku
R_AlertMessage=Poziom depozytu zabezpieczającego na rachunku %s wynosi poniżej %s. Zasil rachunek lub zamknij otwarte pozycje w celu zwiększenia poziomu depozytu zabezpieczającego.
R_EmailSubject=Ostrzeżenie marginesu
R_AlertHoldoffTimer=Czas odpowiedzi ostrzeżenia, min
R_AlertHoldoffTimerDesc=Ostrzeżenie nie będzie wyświetlane więcej niż raz w określonej czasie (w minutach).
R_StopAlert=Zatrzymaj Sygnał
R_StopAlertDescr=Zatrzymaj sygnał generujący ostrzeżenie

[por]
codepage=1252
R_Name=Sinal do Alerta de Margem
R_Description=Sinaliza com um som ou um e-mail quando a margem desce abaixo de um dos níveis especificados.
R_AllAccounts=Todas as contas
R_AllAccountsParam=Observar margem em todas as contas
R_AllAccountsDesc=Se Sim, a margem vai ser observada em todas as contas, caso contrário, uma das contas deverá ser seleccionada.
R_AcctParam=Conta a observar
R_AcctDesc=O alerta será activado para a conta especificada.
R_UpdateInterval=Verificar intervalo da margem, seg.
R_UpdateIntervalDesc=Frequência de verificação da margem, tempo em segundos.
R_LevelGroup=Nível
R_UseLevel=Utilizar este nível
R_UseLevelDesc=Se Sim, um alerta de margem é calculado para este nível.
R_LevelValue=Nível da margem
R_LevelValueDesc=Nível da margem a verificar.
R_CheckType=Nível expresso em
R_CheckTypeDesc=Escolha se o nível é expresso em percentagem do capital da conta ou na moeda da conta.
R_CheckTypePercents=Percentagem
R_CheckTypeAmount=Moeda da conta
R_AlertMessage=A margem utilizável da conta %s está abaixo de %s. Deposite fundos ou feche posições para aumentar a margem utilizável. Altere ou desactive este alerta de margem no menu Estratégias do gráfico.
R_EmailSubject=Alerta de Margem
R_AlertHoldoffTimer=Tempo limite do alerta, min.
R_AlertHoldoffTimerDesc=Não será apresentado um alerta mais do que uma vez no período especificado em minutos.
R_StopAlert=Parar Sinal
R_StopAlertDescr=Parar o sinal que gerou este alerta

[hun]
codepage=0
R_Name=Fedezet Riasztás 
R_Description=Hanggal vagy e-mail üzenetben tájékoztat ha fedezet kihasználtságunk egy megadott szint alá csökken.
R_AllAccounts=Minden Számla
R_AllAccountsParam=Figyeli a margin kihasználtságot minden számlán.
R_AllAccountsDesc=Ha igen, akkor a margin-t figyelni fogja minden számlán, máskülönben egy számlát kell kiválasztani.
R_AcctParam=Figyelni kívánt számla
R_AcctDesc=A riasztás a megadott számlára vonatkozik.
R_UpdateInterval=Margin kihasználtság ellenőrzése (Másodperc)
R_UpdateIntervalDesc=Beállíthatjuk másodpercekben, hogy milyen gyakran ellenőrizze a margin kihasználtságot.
R_LevelGroup=Szint
R_UseLevel=Használja ezt a szintet
R_UseLevelDesc=Ha igen, akkor a margin szintet ehhez a szinthez számolja.
R_LevelValue=Fedezet szint
R_LevelValueDesc=Ellenőrizni kívánt fedezet szint
R_CheckType=A szint kifejezve:
R_CheckTypeDesc=Válassza ki, hogy a fedezet szintet százalékos formában vagy a számla pénznemében kívánja látni.
R_CheckTypePercents=Százalék
R_CheckTypeAmount=Számla pénzneme
R_AlertMessage=A számla fedezet kihasználtsága %s, amely a beállított %S szint alá esett. Kérjük, helyezzen el további fedezetet vagy zárja nyitott pozícióit. Kapcsolja ki vagy változtassa meg ezt az üzenetet a Chart Stratégiák menüben.
R_EmailSubject=Margin riasztás
R_AlertHoldoffTimer=Riasztás érvényessége (Perc)
R_AlertHoldoffTimerDesc=A riasztás nem jelenik meg egynél többször a megadott időintervallumon belül.
R_StopAlert=Stop Szignál
R_StopAlertDescr=Megállítja a szignált ami az adott jelzést generálta

