include=common.lua.rc
default=enu
[enu]
codepage=1252
R_Name=Stochastic Signals
R_Description=Signals SELL when the stochastic crosses under the overbought level and BUY when the stochastic crosses over the oversold level.
R_K=%K periods
R_D=%D periods
R_SD=%D slowing periods
R_A1=Smoothing method for %K
R_A2=Smoothing method for %D
R_L=Line for signal
R_OB=Overbought level
R_OS=Oversold level
R_CandleError=Signal cannot be applied on ticks
R_SoundFileError=

[rus]
codepage=1251
R_Name=Сигналы Стохастика
R_Description=Дает сигнал на продажу, когда Стохастик пересекает уровень перекупленности, и сигнал на покупку, когда Стохастик пересекает уровень перепроданности
R_K=Количество периодов для %K
R_D=Количество периодов для %D
R_SD=Количество периодов для замедления %D
R_A1=Метод сглаживания для %K
R_A2=Метод сглаживания для %D
R_L=Линия для определения сигнала
R_OB=Уровень перепроданности
R_OS=Уровень перекупленности
R_CandleError=Сигнал неприменим к тиковым ценам
R_SoundFileError=

[fra]
codepage=1252
R_Name=Signaux de stochastique
R_Description=Signale VENTE dès que la stochastique traverse le seuil de surachat et ACHAT lorsque la stochastique traverse le seuil de survente
R_K=%K périodes
R_D=%D périodes
R_SD=%D périodes ralenties
R_A1=Méthode de lissage pour %K
R_A2=Méthode de lissage pour %D
R_L=Ligne pour signal
R_OB=Seuil de surachat
R_OS=Seuil de survente
R_CandleError=Le signal ne peut être appliqué sur des ticks
R_SoundFileError=

[ara]
codepage=1256
R_Name=إشارات الستوكاستيك (Stochastic Signals)
R_Description=إشارات بيع عندما تتقاطع إشارات الستوكاستيك مع مستوى الزيادة بالشراء وإشارات شراء عند تتقاطع إشارات الستوكاستيك مع مستوى الزيادة باالبيع
R_K=فترات K%
R_D=فترات D%
R_SD=الفترات المبطئة D%
R_A1=طريقة التجانس K%
R_A2=طريقة التجانس D%
R_L=الخط الإشارة
R_OB=مستوى زيادة الشراء
R_OS=مستوى زيادة البيع
R_CandleError=لا يمكن تطبيق الإشارة على رسم "التيك" البياني
R_SoundFileError=

[chs]
codepage=936
R_Name=随机指标信号
R_Description=当随机指标交差超买水平產生卖出信号及当随机指标交差超卖水平產生买进信号
R_K=%K 周期
R_D=%D 周期
R_SD=%D 慢速
R_A1=%K平滑方法
R_A2=%D平滑方法
R_L=信号线
R_OB=超买水平
R_OS=超卖水平
R_CandleError=信号不能应用在点线图
R_SoundFileError=

[cht]
codepage=950
R_Name=隨機指標信號
R_Description=當隨機指標交差超買水平產生賣出信號及當隨機指標交差超賣水平產生買進信號
R_K=%K 週期
R_D=%D 週期
R_SD=%D 慢速
R_A1=%K平滑方法
R_A2=%D平滑方法
R_L=信號線
R_OB=超買水平
R_OS=超賣水平
R_CandleError=
R_SoundFileError=必須指定聲音檔

[esp]
codepage=1252
R_Name=Señales de Stocastico
R_Description=Proporciona una señal de VENTA cuando el estocástico cruza el nivel de sobrecompra y de COMPRA cuando el estocástico cruza el nivel de sobreventa.
R_K=%K periodos
R_D=%D periodos
R_SD=%D periodos lentos
R_A1=Método suavizado para el %K
R_A2=Método suavizado para el %D
R_L=Línea para la señal
R_OB=Nivel de sobrecompra
R_OS=Nivel de sobreventa
R_CandleError=Las señales no pueden ser aplicadas en los ticks
R_SoundFileError=

[heb]
codepage=1255
R_Name=איתותי סטוכאסטיקה
R_Description=איתות מכירה כאשר הסטוכאסטיקה חוצה את קניית היתר, ואיתות קנייה כאשר הסטוכאסטיקה חוצה את מכירת היתר
R_K=תקופות %K
R_D=תקופות %D
R_SD=תקופות איטיות %D
R_A1=שיטת החלקה עבור %K
R_A2=שיטת החלקה עבור %D
R_L=קו עבור איתות
R_OB=רמת קניית יתר
R_OS=רמת מכירת יתר
R_CandleError=לא ניתן להפעיל את האיתותים על טיקים
R_SoundFileError=

[ita]
codepage=1252
R_Name=Segnali Stocastico
R_Description=Segnali SELL quando lo stocastico incrocia il livello di ipercomprato e BUY quando lo stocastico incrocia il livello di ipervenduto
R_K=%K periodi
R_D=%D periodi
R_SD=%D periodi slowing
R_A1=Metodo smoothing %K
R_A2=Metodo smoothing %D
R_L=Linea per segnale
R_OB=Livello ipercomprato
R_OS=Livello ipervenduto
R_CandleError=Il segnale non può essere applicato ai tick
R_SoundFileError=

[pol]
codepage=1250
R_Name=Sygnały oscylatorów stochastycznych
R_Description=Sygnał SPRZEDAJ kiedy oscylator przecina poziom wykupienia, sygnał KUPUJ kiedy oscylator przecina poziom wyprzedania
R_K=Liczba okresów dla %K
R_D=Liczba okresów dla %D
R_SD=Liczba okresów dla wolnego %D
R_A1=Metoda wygładzania %K
R_A2=Metoda wygładzania %D
R_L=Linia sygnału
R_OB=Poziom wykupienia
R_OS=Poziom wyprzedania
R_CandleError=Sygnał nie może być stosowany na tickach
R_SoundFileError=

[tur]
codepage=1254
R_Name=Stokastik Sinyalleri
R_Description=Stokastik aşırı alım seviyesini kestiğinde SATIŞ, stokastik aşırı alım seviyesini kestiğinde ALIŞ sinyali verir.
R_K=%K periyodu
R_D=%D periyodu
R_SD=Yavaşlatılmış %D periyodu
R_A1=%K için düzeltme yöntemi
R_A2=%D için düzeltme yöntemi
R_L=Sinyal çizgisi
R_OB=Aşırı alım seviyesi
R_OS=Aşırı satış seviyesi
R_CandleError=Sinyaller tik grafiğine uygulanamaz.
R_SoundFileError=

[cze]
codepage=1250
R_Name=Signály Stochastic
R_Description=Signál PRODEJ pokud Stochastic prolomí hranici překoupenosti.a NÁKUP pokud Stochastic prolomí hranici přeprodanosti.
R_K=%K period
R_D=%D period
R_SD=Pomalý %D
R_A1=Vyhlazené %K
R_A2=Vyhlazené %D
R_L=Signální linka
R_OB=Hranice překoupení
R_OS=Hranice přeprodání
R_CandleError=Signál nemůže být použit na tick periodu
R_SoundFileError=

[gre]
codepage=1253
R_Name=Σήματα Stochastic
R_Description=Σήμα ΠΩΛΗΣΗΣ όταν ο stochastic κινηθεί κάτω από το υπεραγορασμένο επίπεδο και ΑΓΟΡΑΣ όταν ο stochastic κινηθεί πάνω από το υπερπουλημένο επίπεδο
R_K=%Κ περίοδοι
R_D=%D περίοδοι
R_SD=%D περίοδοι επιβράδυνσης
R_A1=Μέθοδος εξομάλυνσης για %Κ
R_A2=Μέθοδος εξομάλυνσης για %D
R_L=Γραμμή για σήμα
R_OB=Υπεραγορασμένο επίπεδο
R_OS=Υπερπουλημένο επίπεδο
R_CandleError=Το σήμα δεν μπορεί να εφαρμοστεί στα ticks
R_SoundFileError=

[jpn]
codepage=932
R_Name=ストキャスティックシグナル
R_Description=ストキャスティックが買われすぎのレベルを越えた時に売りシグナルを発し、ストキャスティックが売られすぎのレベルを越えた時に買いシグナルを発します。
R_K=%Kの期間
R_D=%Dの期間
R_SD=%D 減速期間
R_A1=%K 平滑化の方法
R_A2=%D 平滑化の方法
R_L=シグナルのライン
R_OB=買われすぎレベル
R_OS=売られすぎレベル
R_CandleError=シグナルはティックに適用することはできません
R_SoundFileError=

[por]
codepage=1252
R_Name=Sinais Estocásticos
R_Description=Sinaliza VENDER quando o estocástico cruza o nível sobrecomprado e COMPRAR quando o estocástico cruza o nível sobrevendido
R_K=%K períodos
R_D=%D períodos
R_SD=%D períodos de desaceleração
R_A1=Método de nivelação para %K
R_A2=Método de nivelação para %D
R_L=Linha de sinal
R_OB=Nível sobrecomprado
R_OS=Nível sobrevendido
R_CandleError=Sinal não pode ser aplicado em ticks
R_SoundFileError=

[deu]
codepage=1252
R_Name=Stochastik Signale
R_Description=Zeigt VERKAUFEN beim treffen des Kaufwertsniveaus und KAUFEN beim treffen des Verkaufswertsniveaus.
R_K=%K Periode
R_D=%D Periode
R_SD=%D Slowing Periode
R_A1=Glättungsmethode für %K
R_A2=Glättungsmethode fur %D
R_L=Signalslinie
R_OB=Niveau des hohen Kaufswerts
R_OS=Niveau des hohen Verkaufswerts
R_CandleError=An Ticks sollen Signale nicht angewandt werden
R_SoundFileError=

[hun]
codepage=0
R_Name=Stochastic Szignál
R_Description=Vételi jelzés ha a Stochastic alulról metszi a túlvett szintet, Eladási jelzés ha a Stochastic felülről metszi a túladott szintet. 
R_K=%K periódusok
R_D=%D periódusok
R_SD=%D lassuló periódusok
R_A1=%K simítási eljárás
R_A2=%D simítási eljárás
R_L=Szignálvonal
R_OB=Túlvett szint
R_OS=Túladott szint
R_CandleError=A szignált nem lehet tick idősíkú grafikonon alkalmazni.
R_SoundFileError=

